<%
  list_limit = 5
  remaining = []
  if items.length > (list_limit + 2)
    remaining = items[list_limit..items.length]
    items = items[0...list_limit]
  end
  connector = " #{t("components.metadata.and")} "
%>
<%= items.to_sentence(two_words_connector: connector, last_word_connector: connector).html_safe %>
<% if remaining.any? %>
  <div class="gem-c-metadata__toggle-wrap govuk-!-display-none-print">
    <a href="#"
       class="gem-c-metadata__definition-link govuk-!-display-none-print"
       data-controls="toggle-<%= toggle_id %>"
       data-expanded="false"
       data-toggled-text="<%= t("common.toggle_less") %>">
        <%= t("common.toggle_more",
          show: t("common.show"),
          number: remaining.length) %>
    </a>
  </div>
  <span id="toggle-<%= toggle_id %>" class="gem-c-metadata__toggle-items js-hidden"><%= remaining.to_sentence.html_safe %></span>
<% end %>
