<%
  title ||= false
  path ||= false
  skip_link ||= false
  skip_link_text ||= "Skip content"
%>
<% if title %>
  <div class="gem-c-task-list-header" data-module="track-click">
    <span class="gem-c-task-list-header__part-of">Part of</span>
    <% if path %>
      <a href="<%= path %>"
        class="gem-c-task-list-header__title"
        data-track-category="tasklistHeaderClicked"
        data-track-action="top"
        data-track-label="<%= path %>"
        data-track-dimension="<%= title %>"
        data-track-dimension-index="29">
        <%= title %>
      </a>
    <% else %>
      <span class="gem-c-task-list-header__title">
        <%= title %>
      </span>
    <% end %>

    <% if skip_link %>
      <a href="<%= skip_link %>"
        class="gem-c-task-list-header__skip-link"
        data-track-category="tasklistHeaderClicked"
        data-track-action="top"
        data-track-label="<%= skip_link %>"
        data-track-dimension="<%= skip_link_text %>"
        data-track-dimension-index="29">
        <%= skip_link_text %>
      </a>
    <% end %>
  </div>
<% end %>
