<nav role="navigation"
     class="gem-c-related-navigation__nav-section"
     aria-labelledby="related-nav-<%= section_title %>-<%= random %>"
     data-module="gem-toggle">

  <% unless section_title === "related_items" %>
    <%=
      heading_class = related_nav_helper.section_css_class("gem-c-related-navigation__sub-heading", section_title)
      heading_data = { 'track-count' => related_nav_helper.section_data_track_count(:related_item_section) }
      heading_id = "related-nav-#{section_title}-#{random}"
      heading_level = related_nav_helper.section_heading_level

      content_tag(heading_level, id: heading_id, class: heading_class, data: heading_data) do
        related_nav_helper.construct_section_heading(section_title)
      end
    %>
  <% end %>

  <ul class="gem-c-related-navigation__link-list" data-module="gem-track-click">
    <% constructed_link_array = [] %>

    <% section_link_limit = related_nav_helper.calculate_section_link_limit(links) %>

    <% links.each.with_index(1) do |link, index| %>
      <%
        link_element = link_to(
          link[:text],
          link[:path],
          class: related_nav_helper.section_css_class("gem-c-related-navigation__section-link", section_title, link, (index >= section_link_limit)),
          rel: link[:rel],
          lang: shared_helper.t_locale_check(link[:locale]),
          data: {
            track_category: 'relatedLinkClicked',
            track_action: "#{section_index}.#{index} #{related_nav_helper.construct_section_heading(section_title) || t('components.related_navigation.related_content')}",
            track_label: link[:path],
            track_options: {
              dimension28: links.length.to_s,
              dimension29: link[:text]
            }
          }
        )
      %>
      <% if index <= section_link_limit %>
        <li class="gem-c-related-navigation__link"><%= link_element %></li>
      <% else %>
        <% constructed_link_array.push(link_element) %>
      <% end %>
    <% end %>

    <% if links.length > section_link_limit %>
      <li class="gem-c-related-navigation__link toggle-wrap">
        <a href="#"
          class="gem-c-related-navigation__toggle"
          data-controls="toggle_<%= section_title %>"
          data-expanded="false"
          data-toggled-text="<%= t("govuk_component.metadata.toggle_less", default: "Show fewer") %>">
          <%= t("govuk_component.metadata.toggle_more",
                number: related_nav_helper.remaining_link_count(links),
                default: "+ #{related_nav_helper.remaining_link_count(links)} more") %>
        </a>
      </li>

      <li class="gem-c-related-navigation__link gem-c-related-navigation__link--truncated-links">
        <span id="toggle_<%= section_title %>" class="gem-c-related-navigation__toggle-more js-hidden">
          <%= to_sentence(constructed_link_array) %>
        </span>
      </li>
    <% end %>
  </ul>
</nav>
