<div class="govuk-header__logo gem-c-header__logo">
  <a href="<%= logo_link %>" class="govuk-header__link govuk-header__link--homepage">
    <%= inline_svg_tag 'govuk_publishing_components/govuk-logo.svg', class: "govuk-header__logotype" %>
    <% if product_name %>
      <span class="govuk-header__product-name gem-c-header__product-name">
        <%= product_name %>
      </span>
    <% end %>
    <% if environment %>
      <span class="gem-c-environment-tag govuk-tag gem-c-environment-tag--<%= environment %>">
        <%= environment.titleize %>
      </span>
    <% end %>
  </a>
</div>
