<%
  navigation_aria_label ||= "Top level"
  navigation_id = "navigation-#{SecureRandom.hex(4)}"
%>

<% if navigation_items.any? %>
  <%= tag.nav class: "gem-c-header__nav govuk-header__navigation govuk-header__navigation--end", aria: { label: navigation_aria_label } do %>
    <button
      aria-controls="<%= navigation_id %>"
      class="govuk-header__menu-button govuk-js-header-toggle gem-c-header__menu-button govuk-!-display-none-print"
      type="button"
      data-button-name="menu"
      hidden>
      <%= t("components.layout_header.menu") %>
    </button>
    <ul id="<%= navigation_id %>" class="govuk-header__navigation-list govuk-!-display-none-print">
      <% navigation_items.each_with_index do |item, index| %>
        <%
          li_classes = %w(govuk-header__navigation-item)
          li_classes << "govuk-header__navigation-item--active" if item[:active]
          li_classes << "govuk-header__navigation-item--collapsed-menu-only" if item[:show_only_in_collapsed_menu]
        %>
        <%= tag.li class: li_classes do %>
          <%= link_to(
            item[:text],
            item[:href],
            class: "govuk-header__link",
            data: item[:data],
          ) %>
        <% end %>
      <% end %>
    </ul>
  <% end %>
<% end %>
