<%
  search_form_id = "search-#{SecureRandom.hex(4)}"
%>

<button
  class="search-toggle govuk-js-header-toggle"
  data-search-toggle-for="search"
  data-button-name="search"
  data-show-text="<%= t("components.layout_header.show_button") %>"
  data-hide-text="<%= t("components.layout_header.hide_button") %>"
  aria-controls="<%= search_form_id %>"
>
  <%= t("components.layout_header.show_button") %>
</button>
<form
  action="/search"
  class="gem-c-layout-header__search-form govuk-clearfix govuk-!-display-none-print"
  id="<%= search_form_id %>"
  method="get"
  role="search"
>
  <%= render "govuk_publishing_components/components/search", {
    button_text: t("components.layout_header.search_button"),
    label_id: "site-search-text",
    margin_bottom: 0,
    no_border: true,
    disable_corrections: true,
  } %>
</form>
