<%
 absolute_links_helper = GovukPublishingComponents::Presenters::AbsoluteLinksHelper.new()
%>

<div id="page-is-not-useful" class="gem-c-feedback__form gem-c-feedback__form--email gem-c-feedback__js-show js-feedback-form">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds" id="survey-wrapper">
      <div class="gem-c-feedback__error-summary js-errors" tabindex="-1" hidden></div>

      <input name="email_survey_signup[survey_id]" type="hidden" value="footer_satisfaction_survey">
      <input name="email_survey_signup[survey_source]" type="hidden" value="<%= path_without_pii %>">

      <h3 class="gem-c-feedback__form-heading"><%= t("components.feedback.help_us_improve_govuk") %></h3>
      <p id="survey_explanation" class="gem-c-feedback__form-paragraph">
        <%= t("components.feedback.more_about_visit") %>
        <a href="https://www.smartsurvey.co.uk/s/gov-uk-banner/?c=<%= path_without_pii %>" class="govuk-link">Please fill in this survey</a>.
      </p>
      <button
        class="govuk-button govuk-button--secondary js-close-form"
        data-track-category="yesNoFeedbackForm"
        data-track-action="ffFormClose"
        aria-controls="page-is-not-useful"
        aria-expanded="true"
        hidden>
        <%= t("components.feedback.close") %>
      </button>
    </div>
  </div>
</div>
