<%
  unless disable_ga4
    ga4_yes_button_event = {
      "event_name": "form_submit",
      "type": "feedback",
      "text": t("components.feedback.yes", locale: :en), 
      "section": t("components.feedback.is_this_page_useful", locale: :en),
      }.to_json

    ga4_no_button_event = {
      "event_name": "form_submit",
      "type": "feedback",
      "text": t("components.feedback.no", locale: :en),
      "section": t("components.feedback.is_this_page_useful", locale: :en)
      }.to_json

    ga4_problem_button_event = {
      "event_name": "form_submit",
      "type": "feedback",
      "text": t("components.feedback.something_wrong", locale: :en),
      "section": t("components.feedback.is_this_page_useful", locale: :en)
    }.to_json
  end
%>

<div class="gem-c-feedback__prompt gem-c-feedback__js-show js-prompt" tabindex="-1">
  <div class="gem-c-feedback__prompt-content">
    <div class="gem-c-feedback__prompt-questions js-prompt-questions" hidden>
      <div class="gem-c-feedback__prompt-question-answer">
        <h2 class="gem-c-feedback__prompt-question"><%= t("components.feedback.is_this_page_useful") %></h2>
        <ul class="gem-c-feedback__option-list">
          <li class="gem-c-feedback__option-list-item govuk-visually-hidden" hidden>
            <% # Maybe button exists only to try and capture clicks by bots %>
            <%= link_to "/contact/govuk", {
              class: 'gem-c-feedback__prompt-link',
              data: {
                'track-category' => 'yesNoFeedbackForm',
                'track-action' => 'ffMaybeClick'
              },
              role: 'button',
              hidden: 'hidden',
              'aria-hidden': 'true',
            } do %>
              <%= t("components.feedback.maybe") %>
            <% end %>
          </li>
          <li class="gem-c-feedback__option-list-item">
            <%= tag.button(
              class: "govuk-button gem-c-feedback__prompt-link js-page-is-useful",
              data: {
                track_category: "yesNoFeedbackForm",
                track_action: "ffYesClick",
                ga4_event: ga4_yes_button_event,
              }) do %>
              <%= t("components.feedback.yes") %> <span class="govuk-visually-hidden"><%= t("components.feedback.is_useful") %></span>
            <% end %>
          </li>
          <li class="gem-c-feedback__option-list-item">

            <%= tag.button(
              class: "govuk-button gem-c-feedback__prompt-link js-toggle-form js-page-is-not-useful",
              aria: {
                controls: "page-is-not-useful",
                expanded: "false",
              },
              data: {
                track_category: "yesNoFeedbackForm",
                track_action: "ffNoClick",
                ga4_event: ga4_no_button_event,
              }) do %>
              <%= t("components.feedback.no") %> <span class="govuk-visually-hidden"><%= t("components.feedback.is_not_useful") %></span>
            <% end %>
          </li>
        </ul>
      </div>
    </div>

    <div class="gem-c-feedback__prompt-questions gem-c-feedback__prompt-success js-prompt-success" role="alert" hidden>
      <%= t("components.feedback.thank_you_for_feedback") %>
    </div>

    <div class="gem-c-feedback__prompt-questions gem-c-feedback__prompt-questions--something-is-wrong js-prompt-questions" hidden>
      <%= tag.button(
        class: "govuk-button gem-c-feedback__prompt-link js-toggle-form js-something-is-wrong",
        aria: {
          expanded: "false",
          controls: "something-is-wrong"
        },
        data: {
          track_category: "Onsite Feedback",
          track_action: "GOV-UK Open Form",
          ga4_event: ga4_problem_button_event,
        }) do %>
        <%= t("components.feedback.something_wrong") %>
      <% end %>
    </div>
  </div>
</div>
