<%
  local_assigns[:margin_bottom] ||= 6
  shared_helper = GovukPublishingComponents::Presenters::SharedHelper.new(local_assigns)

  id ||= "default-id-#{SecureRandom.hex(4)}"
  items ||= []
  condensed ||= false
  anchor_navigation ||= false

  accordion_classes = %w(gem-c-accordion)
  accordion_classes << 'gem-c-accordion--condensed' if condensed
  accordion_classes << (shared_helper.get_margin_bottom)

  translations = {
    show_text: "components.accordion.show",
    hide_text: "components.accordion.hide",
    show_all_text: "components.accordion.show_all",
    hide_all_text: "components.accordion.hide_all",
    this_section_visually_hidden: "components.accordion.this_section_visually_hidden",
  }

  locales = {}

  data_attributes ||= {}
  data_attributes[:module] = 'gem-accordion'
  data_attributes[:anchor_navigation] = anchor_navigation

  translations.each do |key, translation|
    locales[key] = shared_helper.t_locale(translation)
    data_attributes[key] = t(translation)
  end

  unique_locales = locales.values.uniq

  if unique_locales.length > 1
    data_attributes[:locale] = locales
  else
    if unique_locales[0] != I18n.locale
      data_attributes[:locale] = unique_locales[0]
    end
  end
%>
<% if items.any? %>
  <%= tag.div(class: accordion_classes, id: id, data: data_attributes) do %>
    <% items.each_with_index do |item, i| %>
      <%
        index = i + 1

        section_classes = %w(gem-c-accordion__section)
        section_classes << 'gem-c-accordion__section--expanded' if item[:expanded]

        summary_classes = %w(gem-c-accordion__section-summary govuk-body)
      %>

      <%= tag.section(class: section_classes) do %>
        <div class="gem-c-accordion__section-header">
          <%= content_tag(shared_helper.get_heading_level, class: 'gem-c-accordion__section-heading', id: item[:heading][:id]) do %>
            <%= tag.span(item[:heading][:text], id: "#{id}-heading-#{index}", data: item[:data_attributes], class: 'gem-c-accordion__section-button') %>
          <% end %>
          <%= tag.div(item[:summary][:text], id: "#{id}-summary-#{index}", class: summary_classes) if item[:summary].present? %>
        </div>
        <%= tag.div(item[:content][:html], id: "#{id}-content-#{index}", class: "gem-c-accordion__section-content", 'aria-label': "#{item[:heading][:text]}") %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
