<%
  id ||= "autocomplete-#{SecureRandom.hex(4)}"
  label ||= nil
  data_attributes ||= nil
  options ||= []
  selected_option ||= nil
  multiple ||= false
  hide_facets ||= false

  classes = %w(gem-c-accessible-autocomplete govuk-form-group)
  classes << "gem-c-accessible-autocomplete--hide-facets" if hide_facets
  hint_text = "0 #{t('components.autocomplete.selected')}" if hide_facets && multiple
  hint_id = "describes-select-#{SecureRandom.hex(4)}" if hide_facets && multiple
%>
<% if label && options.any? %>
  <%= tag.div class: classes, data: { module: "accessible-autocomplete", hint: hint_id, selected_text: t('components.autocomplete.selected') } do %>
    <%=
      render "govuk_publishing_components/components/label", {
        html_for: id
      }.merge(label.symbolize_keys)
    %>

    <% if hint_text %>
      <span class="govuk-hint gem-c-autocomplete__multiselect-count" id="<%= hint_id %>" aria-live="polite"><%= t('components.autocomplete.selected') %></span>
    <% end %>

    <% if multiple %>
      <span class="govuk-hint gem-c-autocomplete__multiselect-instructions"><%= t('components.autocomplete.multiselect') %></span>
    <% end %>

    <%=
      select_tag(
        id,
        options_for_select(options, selected_option),
        multiple: multiple,
        class: "govuk-select",
        data: data_attributes,
        described_by: hint_id
      )
    %>
  <% end %>
<% end %>
