<%
  add_gem_component_stylesheet("action-link")

  local_assigns[:margin_bottom] ||= 0
  text ||= false
  href ||= false
  inverse ||= false
  simple ||= false
  simple_light ||= false

  link_classes = %w(govuk-link gem-c-action-link__link gem-c-force-print-link-styles)
  link_classes << "govuk-link--inverse" if inverse

  component_helper = GovukPublishingComponents::Presenters::ComponentWrapperHelper.new(local_assigns)
  component_helper.add_class("gem-c-action-link")
  component_helper.add_class("gem-c-action-link--inverse") if inverse
  component_helper.add_class("gem-c-action-link--simple") if simple
%>
<% if text.present? %>
  <%= tag.div(**component_helper.all_attributes) do %>
    <% contents = capture do %>
      <span class="gem-c-action-link__link-wrapper">
        <% main_text = capture do %>
          <%= text %>
        <% end %>

        <% if href.present? %>
          <%= link_to href, class: link_classes do %>
            <%= main_text %>
          <% end %>
        <% else %>
          <%= main_text %>
        <% end %>
      </span>
    <% end %>
    <%= contents %>
  <% end %>
<% end %>
