<%
  add_gem_component_stylesheet("add-another")
  items ||= []
  empty ||= ""
  fieldset_legend ||= ""
  add_button_text ||= "Add another"
%>

<div data-module="add-another" class="gem-c-add-another" data-add-button-text="<%= add_button_text %>" data-fieldset-legend="<%= fieldset_legend %>">
  <% items.each_with_index do |item, index| %>
    <%= render "govuk_publishing_components/components/fieldset", {
      classes: "js-add-another__fieldset",
      legend_text: "#{fieldset_legend} #{index + 1}",
      heading_size: "m"
    } do %>
      <div class="js-add-another__destroy-checkbox">
        <%= item[:destroy_checkbox] %>
      </div>
      <%= item[:fields] %>
    <% end %>
  <% end %>
  <%= render "govuk_publishing_components/components/fieldset", {
    classes: "js-add-another__empty",
    legend_text: "#{fieldset_legend} #{items.length + 1}",
    heading_size: "m"
  } do %>
    <%= empty %>
  <% end %>
</div>
