<%
  add_gem_component_stylesheet("add-another")
  items ||= []
  empty ||= ""
  fieldset_legend ||= ""
  add_button_text ||= "Add another"
  empty_fields ||= false
  disable_ga4 ||= nil

  component_helper = GovukPublishingComponents::Presenters::ComponentWrapperHelper.new(local_assigns)
  component_helper.add_class("gem-c-add-another")
  component_helper.add_data_attribute({
    module: "add-another",
    add_button_text:,
    fieldset_legend:,
    empty_fields:,
    disable_ga4:,
  })
%>

<%= tag.div(**component_helper.all_attributes) do %>
  <% unless empty_fields && items.count == 0 %>
    <% items.each_with_index do |item, index| %>
      <%= render "govuk_publishing_components/components/fieldset", {
        classes: "js-add-another__fieldset",
        legend_text: "#{fieldset_legend} #{index + 1}",
        heading_size: "m",
      } do %>
        <div class="js-add-another__destroy-checkbox">
          <%= item[:destroy_checkbox] %>
        </div>
        <%= item[:fields] %>
      <% end %>
    <% end %>
  <% end %>
  <%= render "govuk_publishing_components/components/fieldset", {
    classes: "js-add-another__empty",
    legend_text: "#{fieldset_legend} #{items.length + 1}",
    heading_size: "m",
  } do %>
    <%= empty %>
  <% end %>
  <template class="js-add-another__empty-template">
    <%= render "govuk_publishing_components/components/fieldset", {
      classes: "js-add-another__fieldset",
      legend_text: "#{fieldset_legend} #{items.length + 1}",
      heading_size: "m",
    } do %>
      <%= empty %>
    <% end %>
  </template>
<% end %>
