<%
  breadcrumbs ||= []
  collapse_on_mobile ||= true
  inverse ||= false
  collapse_class =  collapse_on_mobile ? "govuk-breadcrumbs--collapse-on-mobile" : ""
  invert_class = inverse ? "gem-c-breadcrumbs--inverse" : ""
  breadcrumb_presenter = GovukPublishingComponents::Presenters::Breadcrumbs.new(breadcrumbs, request.path)
%>
<script type="application/ld+json">
  <%= raw breadcrumb_presenter.structured_data.to_json %>
</script>

<div class="gem-c-breadcrumbs govuk-breadcrumbs <%= invert_class %> <%= collapse_class %>" data-module="track-click">
  <ol class="govuk-breadcrumbs__list">
    <% breadcrumbs.each_with_index do |crumb, index| %>
      <% breadcrumb = GovukPublishingComponents::Presenters::Breadcrumb.new(crumb, index) %>
      <li class="govuk-breadcrumbs__list-item" aria-current="<%= breadcrumb.aria_current %>">
        <% if breadcrumb.is_link? %>
          <%= link_to(
            breadcrumb[:title],
            breadcrumb.path,
            data: breadcrumb.tracking_data(breadcrumbs.length),
            class: "govuk-breadcrumbs__link",
            aria: {
              current: breadcrumb.aria_current,
            }
          ) %>
        <% else %>
          <%= breadcrumb[:title] %>
        <% end %>
      </li>
    <% end %>
  </ol>
</div>
