<%
  heading ||= nil
  items ||= nil
  sub_heading_level ||= 3
  local_assigns ||= nil
  shared_helper = GovukPublishingComponents::Presenters::SharedHelper.new(local_assigns)
%>
<% if items.present? %>
  <div class="gem-c-cards">
    <% if heading %>
      <%= content_tag(shared_helper.get_heading_level, class: "gem-c-cards__heading govuk-heading-m") do %>
        <%= heading %>
      <% end %>
    <% end %>
    <ul class="gem-c-cards__list">
      <% items.each do |item| %>
        <li class="gem-c-cards__list-item">
          <%= content_tag("h#{sub_heading_level}", class: "gem-c-cards__sub-heading govuk-heading-s") do %>

          <a class="govuk-link gem-c-cards__link" href="<%= item[:link][:path]%>">
              <%= item[:link][:text] %>
          </a>
          <% end %>

          <% if item[:description] %>
            <p class="govuk-body gem-c-cards__description"><%= item[:description] %></p>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
