<%
  heading_level ||= 2
  table_direction ||= "vertical"
  rows ||= []
  keys ||= []
  chart_type ||= "line"
  download_link ||= false
  heading ||= nil
  description ||= nil
  header_three_quarters ||= false
  header_class = "gem-c-chart__header"
  header_class << "--three-quarters" if header_three_quarters
  source ||= false

  if !heading || !description
    raise ArgumentError, "A heading and description must be provided for accessibility purposes."
  end

  local_assigns[:margin_bottom] ||= 3

  chart_id = "chart-id-#{SecureRandom.hex(4)}"
  table_id = "table-id-#{SecureRandom.hex(4)}"

  @include_script ||= OpenStruct.new(script_included: false)

  chart_helper = GovukPublishingComponents::Presenters::ChartHelper.new(local_assigns)
  component_helper = GovukPublishingComponents::Presenters::ComponentWrapperHelper.new(local_assigns)
  component_helper.add_class("gem-c-chart")

  require "chartkick"
  Chartkick.options[:html] = '<div id="%{id}"><noscript><p class="govuk-body">This chart uses JavaScript to work. To view the chart, turn on JavaScript in your browser’s settings.</p></noscript></div>'
%>
<% if rows.length > 0 && keys.length > 0 %>
  <% unless @include_script[:script_included] %>
    <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
    <% @include_script[:script_included] = true %>
  <% end %>
  <%= tag.div(**component_helper.all_attributes) do %>
    <div class="<%= header_class %>">
        <%= render "govuk_publishing_components/components/heading", {
          text: heading,
          heading_level: heading_level,
          margin_bottom: 2,
        } %>
        <%= content_tag :p, description, class: "gem-c-chart__a11y-note-1 govuk-body" %>
    </div>

    <%= content_tag :div, id: chart_id, class: "gem-c-chart__chart" do %>
      <div class="govuk-visually-hidden">
        <%= content_tag :div, t("components.chart.accessibility_html"), class: "gem-c-chart__a11y-note-2" %>
      </div>
      <span class="gem-c-chart__a11y-note-link">
        <%= render "govuk_publishing_components/components/skip_link", {
          text: t("components.chart.accessibility_link", heading: heading),
          href: "##{table_id}",
        } %>
      </span>

      <% if chart_type == "column" %>
        <%= column_chart(chart_helper.chart_format_data, colors: chart_helper.brand_colours, library: chart_helper.chart_options) %>
      <% elsif chart_type == "bar" %>
        <%= bar_chart(chart_helper.chart_format_data, colors: chart_helper.brand_colours, library: chart_helper.chart_options) %>
      <% else %>
        <%= line_chart(chart_helper.chart_format_data, colors: chart_helper.brand_colours, library: chart_helper.chart_options) %>
      <% end %>
    <% end %>

    <%= content_tag :p, t("components.chart.source", source: source), class: "gem-c-chart__source govuk-body" if source %>
    <div class="gem-c-chart__table" id="<%= table_id %>">
      <%= render("govuk_publishing_components/components/details",
        title: t("components.chart.table_dropdown"),
      ) do %>
        <div class="gem-c-chart__table-wrapper">
          <table class="govuk-table">
            <caption class="govuk-visually-hidden">
              <%= t("components.chart.accessibility_heading", heading: heading) %>
            </caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"></td>
                <% if table_direction == "horizontal" %>
                  <% keys.each do |key| %>
                    <th class="govuk-table__header" scope="col">
                      <%= key %>
                    </th>
                  <% end %>
                <% else %>
                  <% rows.each do |row| %>
                    <th class="govuk-table__header govuk-table__header--stacked" scope="row">
                      <%= row[:label] %>
                    </th>
                  <% end %>
                <% end %>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <% if table_direction == "horizontal" %>
                <% rows.each do |row| %>
                  <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row"><%= row[:label] %></th>
                    <% row[:values].each do |value| %>
                      <td class="govuk-table__cell govuk-table__cell--numeric">
                        <%= number_with_delimiter value %>
                      </td>
                    <% end %>
                  </tr>
                <% end %>
              <% else %>
                <% keys.each_with_index do |key, index| %>
                  <tr>
                    <th class="govuk-table__header" scope="row">
                      <%= key %>
                    </th>
                    <% rows.each do |row| %>
                      <td class="govuk-table__cell govuk-table__cell--numeric">
                        <%= number_with_delimiter row[:values][index] %>
                      </td>
                    <% end %>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
      <% end %>
    </div>

    <% if download_link %>
      <p class="govuk-body">
        <%= link_to "Download chart data", download_link,  class: "govuk-link" %>
      </p>
    <% end %>
  <% end %>
<% end %>
