<%
  add_gem_component_stylesheet("chart")
  add_gem_component_stylesheet("table")
  add_gem_component_stylesheet("details")
  add_gem_component_stylesheet("heading")
  add_gem_component_stylesheet("skip-link")

  chart_heading_level ||= 2
  table_direction ||= "horizontal"
  rows ||= []
  keys ||= []
  chart_overview ||= nil
  chart_type ||= "line"
  minimal ||= false
  hide_heading ||= minimal
  link ||= false
  local_assigns[:margin_bottom] ||= 3

  chart_id = "chart-id-#{SecureRandom.hex(4)}"
  table_id = "table-id-#{SecureRandom.hex(4)}"
  @external_script ||= OpenStruct.new(loaded: 0)
  @external_script[:loaded] += 1

  chart_helper = GovukPublishingComponents::Presenters::ChartHelper.new(local_assigns)
  component_helper = GovukPublishingComponents::Presenters::ComponentWrapperHelper.new(local_assigns)
  component_helper.add_class("gem-c-chart")
  component_helper.add_class("gem-c-chart--minimal") if minimal

  require "chartkick"
  Chartkick.options[:html] = '<div id="%{id}"><noscript><p class="govuk-body">Our charts are built using JavaScript but all the data is also available in the table below.</p></noscript></div>'

  if !minimal && !chart_heading
    raise ArgumentError, "A chart heading must be provided for accessibility purposes."
  end
%>
<% if rows.length > 0 && keys.length > 0 %>
  <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" if @external_script[:loaded] == 1 %>
  <%= tag.div(**component_helper.all_attributes) do %>
    <% if chart_heading && !hide_heading %>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <%= render "govuk_publishing_components/components/heading", {
            text: chart_heading,
            heading_level: chart_heading_level,
            margin_bottom: 2,
          } %>
        </div>
      </div>
    <% end %>

    <% aria_attributes = { hidden: true } if minimal %>
    <%= content_tag :div, id: chart_id, class: "gem-c-chart__chart", aria: aria_attributes do %>
      <% unless minimal %>
        <div class="govuk-visually-hidden">
          <%= content_tag :div, chart_overview, class: "gem-c-chart__a11y-note-1" if chart_overview %>
          <%= content_tag :div, t("components.chart.accessibility_html"), class: "gem-c-chart__a11y-note-2" %>
        </div>
        <span class="gem-c-chart__a11y-note-link">
          <%= render "govuk_publishing_components/components/skip_link", {
            text: t("components.chart.accessibility_link", chart_heading: chart_heading),
            href: "##{table_id}"
          } %>
        </span>
      <% end %>

      <% if chart_type == "column" %>
        <%= column_chart(chart_helper.chart_format_data, library: chart_helper.chart_options) %>
      <% elsif chart_type == "bar" %>
        <%= bar_chart(chart_helper.chart_format_data, library: chart_helper.chart_options) %>
      <% else %>
        <%= line_chart(chart_helper.chart_format_data, library: chart_helper.chart_options) %>
      <% end %>
    <% end %>

    <% unless minimal %>
      <div class="gem-c-chart__table" id="<%= table_id %>">
        <%= render("govuk_publishing_components/components/details",
          title: t("components.chart.table_dropdown")
        ) do %>
          <div tabindex="0" class="gem-c-chart__table-wrapper">
            <table class="govuk-table">
              <caption class="govuk-visually-hidden" id="<%= "data-table-caption-#{SecureRandom.hex(4)}" %>">
                <%= t("components.chart.accessibility_heading", chart_heading: chart_heading) %>
              </caption>
              <% if table_direction == "horizontal" %>
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"></td>
                    <% keys.each do |key| %>
                      <th class="govuk-table__header" scope="col">
                        <%= key %>
                      </th>
                    <% end %>
                  </tr>
                </thead>
                <tbody class="govuk-table__body">
                  <% rows.each do |row| %>
                    <tr class="govuk-table__row">
                      <th class="govuk-table__header" scope="row"><%= row[:label]  %></th>
                      <% row[:values].each do |value| %>
                        <td class="govuk-table__cell govuk-table__cell--numeric">
                          <%= number_with_delimiter value %>
                        </td>
                      <% end %>
                    </tr>
                  <% end %>
                </tbody>
              <% else %>
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"></td>
                    <% rows.each do |row| %>
                      <th class="govuk-table__header govuk-table__header--stacked" scope="row">
                        <%= row[:label] %>
                      </th>
                    <% end %>
                  </tr>
                </thead>
                <tbody class="govuk-table__body">
                  <% keys.each_with_index do |key, index| %>
                    <tr>
                      <th class="govuk-table__header" scope="row">
                        <%= key %>
                      </th>
                      <% rows.each do |row| %>
                        <td class="govuk-table__cell govuk-table__cell--numeric">
                          <%= number_with_delimiter row[:values][index] %>
                        </td>
                      <% end %>
                    </tr>
                  <% end %>
                </tbody>
              <% end %>
            </table>
          </div>
        <% end %>
      </div>

      <% if link %>
        <p class="govuk-body">
          <%= link_to "Download chart data", link,  class: "govuk-link" %>
        </p>
      <% end %>
    <% end %>
  <% end %>
<% end %>
