<%
  add_gem_component_stylesheet("chart")
  add_gem_component_stylesheet("table")
  add_gem_component_stylesheet("details")
  add_gem_component_stylesheet("heading")

  chart_heading ||= nil
  chart_heading_level ||= 2
  table_direction ||= "horizontal"
  h_axis_title ||= nil
  v_axis_title ||= nil
  rows ||= []
  keys ||= []
  chart_overview ||= nil
  minimal ||= false
  hide_legend ||= minimal
  link ||= false
  height ||= 400

  chart_id = "chart-id-#{SecureRandom.hex(4)}"
  table_id = "table-id-#{SecureRandom.hex(4)}"
  @external_script ||= OpenStruct.new(loaded: 0)
  @external_script[:loaded] += 1

  shared_helper = GovukPublishingComponents::Presenters::SharedHelper.new(local_assigns)
  component_helper = GovukPublishingComponents::Presenters::ComponentWrapperHelper.new(local_assigns)
  component_helper.add_class("gem-c-chart")
  component_helper.add_class(shared_helper.get_margin_bottom)
  component_helper.add_class("gem-c-chart--minimal") if minimal

  require "chartkick"
  Chartkick.options[:html] = '<div id="%{id}"><noscript><p class="govuk-body">Our charts are built using JavaScript but all the data is also available in the table below.</p></noscript></div>'
  # config options are here: https://developers.google.com/chart/interactive/docs/gallery/linechart
  font_16 = { color: '#000', fontName: 'GDS Transport', fontSize: '16', italic: false }
  font_19 = { color: '#000', fontName: 'GDS Transport', fontSize: '19', italic: false }
  legend = 'none'
  legend = { position: 'top', textStyle: font_16 } unless hide_legend
  pointSize = 10
  pointSize = 0 if minimal
  enableInteractivity = true
  enableInteractivity = false if minimal
  textPosition = nil
  textPosition = 'none' if minimal

  chart_library_options = {
    chartArea: { width: '80%', height: '60%' },
    crosshair: { orientation: 'vertical', trigger: 'both', color: '#ccc' },
    curveType: 'none',
    enableInteractivity: enableInteractivity,
    legend: legend,
    pointSize: pointSize,
    height: height,
    tooltip: { isHtml: true },
    hAxis: {
      textStyle: font_16,
      format: 'd MMM Y', # https://developers.google.com/chart/interactive/docs/reference#dateformatter
      title: h_axis_title,
      titleTextStyle: font_19,
      textPosition: textPosition,
    },
    vAxis: {
      format: '#,###,###',
      textStyle: font_16,
      title: v_axis_title,
      titleTextStyle: font_19,
      textPosition: textPosition,
    },
  }

  if rows.length > 0 && keys.length > 0
    chart_format_data = rows.map do |row|
      {
        name: row[:label],
        linewidth: 10,
        data: keys.zip(row[:values])
      }
    end
  end
%>
<% if rows.length > 0 && keys.length > 0 %>
  <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" if @external_script[:loaded] == 1 %>
  <%= tag.div(**component_helper.all_attributes) do %>
    <% if chart_heading && !minimal %>
      <%= render "govuk_publishing_components/components/heading", {
        text: chart_heading,
        heading_level: chart_heading_level,
        margin_bottom: 2,
      } %>
    <% end %>

    <% aria_attributes = { hidden: true } if minimal %>
    <%= content_tag :div, id: chart_id, class: "gem-c-chart__chart", aria: aria_attributes do %>
      <% unless minimal %>
        <div class="govuk-visually-hidden">
          <%= content_tag :div, chart_overview, class: "gem-c-chart__a11y-note-1" if chart_overview %>
          <%= content_tag :div, t("components.chart.accessibility_html", table_id: table_id), class: "gem-c-chart__a11y-note-2" %>
        </div>
      <% end %>

      <%= line_chart(chart_format_data, library: chart_library_options) %>
    <% end %>

    <% unless minimal %>
      <div class="gem-c-chart__table" id="<%= table_id %>">
        <%= render("govuk_publishing_components/components/details",
          title: t("components.chart.table_dropdown")
        ) do %>
          <div tabindex="0" class="gem-c-chart__table-wrapper">
            <table class="govuk-table">
              <% if table_direction == "horizontal" %>
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"></td>
                    <% keys.each do |key| %>
                      <th class="govuk-table__header" scope="col">
                        <%= key %>
                      </th>
                    <% end %>
                  </tr>
                </thead>
                <tbody class="govuk-table__body">
                  <% rows.each do |row| %>
                    <tr class="govuk-table__row">
                      <th class="govuk-table__header" scope="row"><%= row[:label]  %></th>
                      <% row[:values].each do |value| %>
                        <td class="govuk-table__cell govuk-table__cell--numeric">
                          <%= number_with_delimiter value %>
                        </td>
                      <% end %>
                    </tr>
                  <% end %>
                </tbody>
              <% else %>
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"></td>
                    <% rows.each do |row| %>
                      <th class="govuk-table__header govuk-table__header--stacked" scope="row">
                        <%= row[:label] %>
                      </th>
                    <% end %>
                  </tr>
                </thead>
                <tbody class="govuk-table__body">
                  <% keys.each_with_index do |key, index| %>
                    <tr>
                      <th class="govuk-table__header" scope="row">
                        <%= key %>
                      </th>
                      <% rows.each do |row| %>
                        <td class="govuk-table__cell govuk-table__cell--numeric">
                          <%= number_with_delimiter row[:values][index] %>
                        </td>
                      <% end %>
                    </tr>
                  <% end %>
                </tbody>
              <% end %>
            </table>
          </div>
        <% end %>
      </div>

      <% if link %>
        <p class="govuk-body">
          <%= link_to "Download chart data", link,  class: "govuk-link" %>
        </p>
      <% end %>
    <% end %>
  <% end %>
<% end %>
