<%-
  add_gem_component_stylesheet("contents-list")

  cl_helper = GovukPublishingComponents::Presenters::ContentsListHelper.new(local_assigns)
  underline_links ||= false
  format_numbers ||= false
  brand ||= false
  brand_helper = GovukPublishingComponents::AppHelpers::BrandHelper.new(brand)
  title_fallback = t("components.contents_list.contents", locale: I18n.locale, fallback: false, default: "en")
  classes = %w[gem-c-contents-list]
  link_classes = %w[gem-c-contents-list__link govuk-link]
  link_classes << brand_helper.color_class
  link_classes << "govuk-link--no-underline" unless underline_links

  disable_ga4 ||= false
  ga4_data = {
    event_name: "navigation",
    section: t("components.contents_list.contents", locale: :en) || "",
    type: "contents list",
    index_total: cl_helper.get_index_total,
  } unless disable_ga4
  local_assigns[:aria] ||= {}
  component_helper = GovukPublishingComponents::Presenters::ComponentWrapperHelper.new(local_assigns)
  component_helper.add_class("gem-c-contents-list #{brand_helper.brand_class}")
  component_helper.add_data_attribute({ module: "gem-track-click" })
  component_helper.add_data_attribute({ module: "ga4-link-tracker" }) unless disable_ga4
  component_helper.add_aria_attribute({ label: t("components.contents_list.contents") }) unless local_assigns[:aria][:label]
  component_helper.add_role("navigation")
-%>
<% if cl_helper.contents.any? %>
  <%= tag.nav(**component_helper.all_attributes) do %>
    <%= content_tag(
      :h2, {class: "gem-c-contents-list__title"}.merge(
        title_fallback == "en" ? {:lang => "en",} : {}
      )
    ) do %>
      <%= t("components.contents_list.contents") %>
    <% end %>

    <ol class="gem-c-contents-list__list">
      <% index_link = 1 unless disable_ga4 %>
      <% contents.each.with_index(1) do |contents_item, position| %>
        <li class="<%= cl_helper.list_item_classes(contents_item, false) %>" <%= "aria-current=true" if contents_item[:active] %>>
          <span aria-hidden="true"></span>
          <% link_text = format_numbers ? cl_helper.wrap_numbers_with_spans(contents_item[:text]) : contents_item[:text]
            unless disable_ga4
              ga4_data[:event_name] = cl_helper.get_ga4_event_name(contents_item[:href]) if contents_item[:href]
              ga4_data[:index_link] = index_link
            end
          %>
          <%= link_to_if !contents_item[:active], link_text, contents_item[:href],
            class:  link_classes,
            data: {
              track_category: 'contentsClicked',
              track_action: "content_item #{position}",
              track_label: contents_item[:href],
              track_options: {
                dimension29: contents_item[:text]
              },
              ga4_link: (!disable_ga4 ? ga4_data.to_json : nil)
            }
          %>
          <% index_link += 1 unless disable_ga4 %>
          <% if contents_item[:items] && contents_item[:items].any? %>
            <ol class="gem-c-contents-list__nested-list">
              <% contents_item[:items].each.with_index(1) do |nested_contents_item, nested_position| %>
                <li class="<%= cl_helper.list_item_classes(nested_contents_item, true) %>" <%= "aria-current=true" if nested_contents_item[:active] %>>
                  <span aria-hidden="true"></span>
                  <%
                    unless disable_ga4
                      ga4_data[:event_name] = cl_helper.get_ga4_event_name(nested_contents_item[:href]) if nested_contents_item[:href]
                      ga4_data[:index_link] = index_link
                    end
                  %>
                  <%= link_to_if !nested_contents_item[:active], nested_contents_item[:text], nested_contents_item[:href],
                    class: link_classes,
                    data: {
                      track_category: 'contentsClicked',
                      track_action: "nested_content_item #{position}:#{nested_position}",
                      track_label: nested_contents_item[:href],
                      track_options: {
                        dimension29: nested_contents_item[:text]
                      },
                      ga4_link: (!disable_ga4 ? ga4_data.to_json : nil)
                    }
                  %>
                </li>
                <% index_link += 1 unless disable_ga4 %>
              <% end %>
            </ol>
          <% end %>
        </li>
      <% end %>
    </ol>
  <% end %>
<% end %>
