<% navigation = GovukPublishingComponents::Presenters::ContextualNavigation.new(content_item, request) %>
<% shared_helper = GovukPublishingComponents::Presenters::SharedHelper.new(local_assigns) %>

<div class="gem-c-contextual-sidebar">
  <% if navigation.show_brexit_related_links? && navigation.step_by_step_count.zero? %>
    <%= render 'govuk_publishing_components/components/contextual_sidebar/brexit_related_links' %>
  <% elsif navigation.step_by_step_count.zero? && !navigation.transition_countdown_exception? %>
    <%= render 'govuk_publishing_components/components/contextual_sidebar/brexit_cta' %>
  <% end %>

  <% if navigation.content_tagged_to_a_reasonable_number_of_step_by_steps? %>
    <%# Rendering step by step related items because there are a few but not too many of them %>
    <%= render 'govuk_publishing_components/components/step_by_step_nav_related', links: navigation.step_nav_helper.related_links %>
  <% end %>

  <% if navigation.content_tagged_to_current_step_by_step? %>
    <%# Rendering step by step sidebar because there's 1 step by step list %>
    <%= render 'govuk_publishing_components/components/step_by_step_nav', navigation.step_nav_helper.sidebar %>
  <% else %>
    <%# Rendering related navigation sidebar because no step by step list %>
    <%= render 'govuk_publishing_components/components/related_navigation', content_item: content_item, context: :sidebar %>
  <% end %>

  <% if navigation.content_tagged_to_other_step_by_steps? %>
    <%# Rendering step by step related items because there are a few but not too many of them %>
    <%= render 'govuk_publishing_components/components/step_by_step_nav_related', {
      pretitle: "Also part of",
      links: navigation.step_nav_helper.also_part_of_step_nav,
      always_display_as_list: true
    } %>
  <% end %>

  <% if navigation.show_brexit_related_links? && navigation.step_by_step_count > 0 %>
    <%= render 'govuk_publishing_components/components/contextual_sidebar/brexit_related_links' %>
  <% end %>
</div>
