<%
  items ||= []
  margin_top_class = " gem-c-document-list--top-margin" if local_assigns[:margin_top]
  margin_bottom_class = " gem-c-document-list--bottom-margin" if local_assigns[:margin_bottom]
%>
<% if items.any? %>
  <ol class="gem-c-document-list<%= margin_bottom_class %><%= margin_top_class %>">
    <% items.each do |item| %>
      <li class="gem-c-document-list__item">
        <h3 class="gem-c-document-list__item-title">
          <%=
            link_to(
              item[:link][:text],
              item[:link][:path],
              data: item[:link][:data_attributes]
            )
          %>
        </h3>
        <% if item[:link][:description] %>
          <p class="gem-c-document-list__item-description" ><%= item[:link][:description] %></p>
        <% end %>
        <% if item[:metadata] %>
          <ul>
            <% item[:metadata].each do |item_metadata_key, item_metadata_value| %>
              <li class="gem-c-document-list__attribute">
                <% if item_metadata_key.to_s.eql?("public_updated_at") %>
                  <time datetime="<%= item_metadata_value.iso8601 %>">
                    <%= l(item_metadata_value, format: '%e %B %Y') %>
                  </time>
                <% else %>
                  <%= item_metadata_value %>
                <% end %>
              </li>
            <% end %>
          </ul>
        <% end %>
      </li>
    <% end %>
  </ol>
<% end %>
