<%
  add_gem_component_stylesheet("document-list")

  local_assigns[:margin_bottom] ||= 5
  shared_helper = GovukPublishingComponents::Presenters::SharedHelper.new(local_assigns)
  items ||= []

  component_helper = GovukPublishingComponents::Presenters::ComponentWrapperHelper.new(local_assigns)
  component_helper.add_class("gem-c-document-list")
  component_helper.add_class("gem-c-document-list--no-top-border") if local_assigns[:remove_top_border]
  component_helper.add_class("gem-c-document-list--no-top-border-first-child") if local_assigns[:remove_top_border_from_first_child]
  component_helper.add_class(shared_helper.get_margin_bottom)

  extra_link_classes = "govuk-link--no-underline" if local_assigns[:remove_underline]
  title_with_context_class = " gem-c-document-list__item-title--context"

  brand ||= false
  brand_helper = GovukPublishingComponents::AppHelpers::BrandHelper.new(brand)

  disable_ga4 ||= false
  unless disable_ga4
    ga4_extra_data ||= {}
    component_helper.add_data_attribute({
      module: "ga4-link-tracker",
      ga4_track_links_only: "",
      ga4_link: {
        "event_name": "navigation",
        "type": "document list",
      }.merge(ga4_extra_data)
    })
  end
%>
<% if items.any? %>
  <%= tag.ul(**component_helper.all_attributes) do %>
    <% items.each do |item| %>
      <% highlight_class = " gem-c-document-list__item--highlight" if item[:highlight] %>
      <li class="gem-c-document-list__item <%= brand_helper.brand_class %> <%= highlight_class %>">
        <% if item[:highlight] && item[:highlight_text] %>
          <p class='gem-c-document-list__highlight-text'><%= item[:highlight_text] %></p>
        <% end %>

        <%= content_tag :div, class: "gem-c-document-list__item-title" do -%>
          <%=
            item_classes = "#{brand_helper.color_class} #{title_with_context_class if item[:link][:context]}"

            if item[:link][:path]
              rel = [
                "external",
                "nofollow",
                "noopener",
                "noreferrer",
                "opener",
              ].include?(item[:link][:rel]) ? item[:link][:rel] : nil

              link_to(
                item[:link][:text],
                item[:link][:path],
                data: item[:link][:data_attributes],
                class: "#{item_classes} govuk-link gem-print-link #{extra_link_classes}",
                lang: item[:link][:locale].presence,
                rel: rel,
              )
            else
              content_tag(
                "span",
                item[:link][:text],
                data: item[:link][:data_attributes],
                class: item_classes,
              )
            end
          %>
        <% end %>

        <% if item[:link][:context] %>
          <span class="gem-c-document-list__item-context"><%= item[:link][:context] %></span>
        <% end %>

        <% if item[:link][:description] %>
          <p class="gem-c-document-list__item-description <%= "gem-c-document-list__item-description--full-size" if item[:link][:full_size_description] %>"><%= item[:link][:description] %></p>
        <% end %>

        <% if item[:metadata] %>
          <ul class="gem-c-document-list__item-metadata">
            <% item[:metadata].compact.each do |item_metadata_key, item_metadata_value| %>
              <% if !item_metadata_key.to_s.eql?("locale") %>
                <% lang = item[:metadata][:locale].present? && item[:metadata][:locale][item_metadata_key].present? ? item[:metadata][:locale][item_metadata_key] : nil %>

                <%= content_tag(
                  :li, item_metadata_value,
                  class: "gem-c-document-list__attribute",
                  lang: lang
                ) do %>
                  <% if item_metadata_key.to_s.eql?("public_updated_at") %>
                    <time datetime="<%= item_metadata_value.iso8601 %>">
                      <%= l(item_metadata_value, format: '%e %B %Y') %>
                    </time>
                  <% else %>
                    <%= item_metadata_value %>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          </ul>
        <% end %>

        <% if item[:subtext] %>
          <p class="gem-c-document-list__subtext"><%= item[:subtext] %></p>
        <% end %>

        <% if item[:parts] && item[:parts].any? %>
          <ul class="gem-c-document-list__children">
            <% item[:parts].each do |part| %>
              <li class="gem-c-document-list-child">
                <%=
                  if part[:link][:path]
                    link_to(
                      part[:link][:text],
                      part[:link][:path],
                      data: part[:link][:data_attributes],
                      class: "gem-c-document-list-child__heading gem-c-document-list-child__link #{brand_helper.color_class} govuk-link gem-print-link #{extra_link_classes}",
                    )
                  else
                    content_tag(
                      "span",
                      part[:link][:text],
                      data: part[:link][:data_attributes],
                      class: "gem-c-document-list-child__heading",
                    )
                  end
                %>
                <% if part[:link][:description] %>
                  <p class="gem-c-document-list-child__description"><%= part[:link][:description] %></p>
                <% end %>
              </li>
            <% end %>
          </ul>
        <% end %>
      </li>
    <% end %>
  <% end %>
<% end %>
