<%
  id ||= "error-summary-#{SecureRandom.hex(4)}"
  title ||= false
  description ||= false
  data_attributes ||= {}
  items ||= []
  if items.empty? && !title
    raise ArgumentError, "The error_summary component needs at least one item or a title in order to render."
  end
%>

<%= tag.div(
  class: "gem-c-error-summary govuk-error-summary",
  data: {}.merge(data_attributes),
  id: id,
) do %>
  <%= tag.div(
    role: "alert",
  ) do %>
    <% if title %>
      <h2 class="govuk-error-summary__title">
        <%= title %>
      </h2>
    <% end %>
    <div class="govuk-error-summary__body">
      <% if description %>
        <p><%= description %></p>
      <% end %>
      <% if items.present? %>
        <ul class="govuk-list govuk-error-summary__list">
          <% items.each_with_index do |item, index| %>
            <li class="gem-c-error-summary__list-item">
              <% if item[:href] %>
                <%= link_to item[:text], item[:href], target: item[:target], data: item[:data_attributes] %>
              <% else %>
                <%= tag.span data: item[:data_attributes] do %>
                  <%= item[:text] %>
                <% end %>
              <% end %>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  <% end %>
<% end %>

<%= javascript_tag nonce: true, type: "module" do -%>
  // ah OK so this would work but .mjs means the MIME type is wrong!
  // so it's expecting .js! have to add a new MIME type to config
  // cannot get this working even though i have added the MIME type
  
  import ErrorSummary from "<%= asset_path("govuk-esm/components/error-summary/error-summary.mjs") %>"

  const el = document.querySelector("<%= id %>");
  const component = new ErrorSummary(el);

  component.init()

  console.log(component)
<% end -%>

<%= javascript_tag nonce: true, type: "module" do -%>
  import Pizza from "<%= asset_path('pizza') %>";

  Pizza();
<% end %>

<%= javascript_tag nonce: true, type: "module" do -%>
  import ErrorSummary from "<%= asset_path("error-summary-2.js") %>";
  
  const el = document.querySelector("<%= id %>");
  const component = new ErrorSummary(el);

  component.init()

  console.log(component)
<% end -%>
