<%
  description ||= false
  items ||= []
  title_id ||= "error-summary-title-#{SecureRandom.hex(4)}"
%>
<div
  class="gem-c-error-summary"
  data-module="error-summary"
  aria-labelledby="<%= title_id %>"
  role="alert"
  tabindex="-1"
>
  <h2 class="gem-c-error-summary__title" id="<%= title_id %>">
    <%= title %>
  </h2>
  <div class="gem-c-error-summary__body">
    <% if description %>
      <p class="gem-c-error-summary__text"><%= description %></p>
    <% end %>
    <% if items.present? %>
      <ul class="gem-c-error-summary__list">
        <% items.each_with_index do |item, index| %>
          <li class="gem-c-error-summary__list__item">
            <a
              class="js-error-summary__link gem-c-error-summary__link"
              href="<%= item[:href] %>"
            ><%= item[:text] %></a>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
