<%
  if before_update_time?(year: 2024, month: 7, day: 4, hour: 22, minute: 0)
    show_global_bar ||= true # Toggles the appearance of the global bar
    title = "Bring photo ID to vote"
    title_href = "/how-to-vote/photo-id-youll-need"
    link_text = "Check what photo ID you'll need to vote in person in the General Election on 4 July."
  else
    show_global_bar = false
    title = nil
    title_href = nil
    link_text = nil
  end

  link_href = false

  # Toggles banner being permanently visible
  # If true, banner is always_visible & does not disappear automatically after 3 pageviews
  # Regardless of value, banner is always manually dismissable by users
  always_visible = true

  global_bar_classes = %w(global-bar govuk-!-display-none-print)

  title_classes = %w(global-bar-title)
  title_classes << "js-call-to-action" if title_href
  title_classes << "govuk-link" if title_href

  ga4_data = {
    event_name: "navigation",
    type: "global bar",
    section: title,
  }.to_json

-%>

<% if show_global_bar %>
  <!--[if gt IE 7]><!-->
  <div id="global-bar" class="<%= global_bar_classes.join(' ') %>" data-module="global-bar" <%= "data-global-bar-permanent=true" if always_visible %> data-nosnippet>
    <p class="global-bar-message govuk-width-container">
      <% if title %>
        <% if title_href %>
          <a class="<%= title_classes.join(' ') %>" href="<%= title_href %>" data-module="ga4-link-tracker" data-ga4-link="<%= ga4_data %>"><%= title %></a>
        <% else %>
          <span class="<%= title_classes.join(' ') %>"><%= title %></span>
        <% end %>
      <% end %>

      <% if link_text %>
        <span class="global-bar-text">
        <% if link_href %>
          <%= link_to(
            link_text,
            link_href,
            rel: "external noreferrer",
            class: "govuk-link js-call-to-action",
            data: {
              module: "ga4-link-tracker",
              ga4_link: ga4_data,
            },
          ) %>
        <% else %>
          <%= link_text %>
        <% end %>
        </span>
      <% end %>
    </p>
  </div>
  <!--<![endif]-->
<% end %>
