<%
  add_gem_component_stylesheet("global-banner")

  title ||= nil
  title_href ||= nil
  text ||= nil
  banner_version ||= nil
  always_visible ||= false # if true banner is always visible & does not disappear automatically after 3 pageviews

  global_banner_classes = %w(gem-c-global-banner govuk-!-display-none-print)
  title_classes = %w(gem-c-global-banner__title)
  title_classes << "js-call-to-action" if title_href
  title_classes << "govuk-link" if title_href

  ga4_data = {
    event_name: "navigation",
    type: "global bar",
    section: title,
  }.to_json
%>
<% if title && banner_version %>
  <div id="global-banner" class="<%= global_banner_classes.join(' ') %>" data-module="global-banner" data-banner-version="<%= banner_version %>" <%= "data-global-banner-permanent=true" if always_visible %> data-nosnippet>
    <p class="gem-c-global-banner__message govuk-width-container">
      <% if title_href %>
        <a class="<%= title_classes.join(' ') %>" href="<%= title_href %>" data-module="ga4-link-tracker" data-ga4-link="<%= ga4_data %>"><%= title %></a>
      <% else %>
        <span class="<%= title_classes.join(' ') %>"><%= title %></span>
      <% end %>

      <% if text %>
        <span class="gem-c-global-banner__text">
          <%= text %>
        </span>
      <% end %>
    </p>
  </div>
<% end %>
