<%
  active ||= nil
%>

<nav id="proposition-menu" class="no-proposition-name gem-c-government-navigation" aria-label="Departments and policy navigation">
  <ul id="proposition-links" data-module="gem-track-click">
    <li>
      <a class="<%= 'active' if active == 'departments' %> govuk-link govuk-link--no-underline govuk-link--inverse"
         data-track-category="headerClicked"
         data-track-action="departmentsLink"
         data-track-label="/government/organisations"
         data-track-dimension="<%= t("components.government_navigation.departments") %>"
         data-track-dimension-index="29"
         href="/government/organisations">
        <%= t("components.government_navigation.departments") %>
      </a>
    </li>
    <li>
      <a class="<%= 'active' if active == 'worldwide' %> govuk-link govuk-link--no-underline govuk-link--inverse"
         data-track-category="headerClicked"
         data-track-action="worldwideLink"
         data-track-label="/world"
         data-track-dimension="<%= t("components.government_navigation.worldwide") %>"
         data-track-dimension-index="29"
         href="/world">
        <%= t("components.government_navigation.worldwide") %>
      </a>
    </li>
    <li>
      <a class="<%= 'active' if active == 'how-government-works' %> govuk-link govuk-link--no-underline govuk-link--inverse"
         data-track-category="headerClicked"
         data-track-action="governmentactivityLink"
         data-track-label="/government/how-government-works"
         data-track-dimension="<%= t("components.government_navigation.how-government-works") %>"
         data-track-dimension-index="29"
         href="/government/how-government-works">
        <%= t("components.government_navigation.how-government-works") %>
      </a>
    </li>
    <li>
      <a class="<%= 'active' if active == 'get-involved' %> govuk-link govuk-link--no-underline govuk-link--inverse"
         data-track-category="headerClicked"
         data-track-action="governmentactivityLink"
         data-track-label="/government/get-involved"
         data-track-dimension="<%= t("components.government_navigation.get-involved") %>"
         data-track-dimension-index="29"
         href="/government/get-involved">
        <%= t("components.government_navigation.get-involved") %>
      </a>
    </li>
    <li class="clear-child">
      <a class="<%= 'active' if active == 'consultations' %> govuk-link govuk-link--no-underline govuk-link--inverse"
         data-track-category="headerClicked"
         data-track-action="governmentactivityLink"
         data-track-label="/government/get-involved"
         data-track-dimension="<%= t("components.government_navigation.consultations") %>"
         data-track-dimension-index="29"
         href="<%= CGI::escapeHTML('/search/policy-papers-and-consultations?content_store_document_type[]=open_consultations&content_store_document_type[]=closed_consultations') %>">
        <%= t("components.government_navigation.consultations") %>
      </a>
    </li>
    <li>
      <a class="<%= 'active' if active == 'statistics' %> govuk-link govuk-link--no-underline govuk-link--inverse"
         data-track-category="headerClicked"
         data-track-action="governmentactivityLink"
         data-track-label="/government/research-and-statistics"
         data-track-dimension="<%= t("components.government_navigation.statistics") %>"
         data-track-dimension-index="29"
      href="/search/research-and-statistics">
        <%= t("components.government_navigation.statistics") %>
      </a>
    </li>
    <li>
      <a class="<%= 'active' if active == 'announcements' %> govuk-link govuk-link--no-underline govuk-link--inverse"
         data-track-category="headerClicked"
         data-track-action="governmentactivityLink"
         data-track-label="/search/news-and-communications"
         data-track-dimension="<%= t("components.government_navigation.news_and_communications") %>"
         data-track-dimension-index="29"
         href="/search/news-and-communications">
        <%= t("components.government_navigation.news_and_communications") %>
      </a>
    </li>
  </ul>
</nav>
