<%
  brand ||= false
  brand_helper = GovukPublishingComponents::AppHelpers::BrandHelper.new(brand)
  card_helper = GovukPublishingComponents::Presenters::ImageCardHelper.new(local_assigns)
  shared_helper = GovukPublishingComponents::Presenters::SharedHelper.new(local_assigns)
  classes = "gem-c-image-card"
  classes << " gem-c-image-card--large" if card_helper.large
  classes << " gem-c-image-card--no-image" unless defined?(image_src)

  font_size ||= card_helper.large ? 'm' : 's'
  heading_class = %w[gem-c-image-card__title]
  heading_class << shared_helper.get_heading_size(font_size, 's')
%>
<% if card_helper.href || card_helper.extra_links.any? %>
  <div class="<%= classes %> <%= brand_helper.brand_class %>"
    <%= "data-module=gem-track-click" if card_helper.is_tracking? %>
    <%= "lang=#{card_helper.lang}" if card_helper.lang %>>
    <div class="gem-c-image-card__text-wrapper">
      <div class="gem-c-image-card__header-and-context-wrapper">
        <% if card_helper.heading_text %>
          <%= content_tag(shared_helper.get_heading_level, class: heading_class) do %>
              <% if card_helper.href %>
                <%= link_to card_helper.heading_text, card_helper.href,
                  class: "gem-c-image-card__title-link #{brand_helper.color_class}",
                  data: card_helper.href_data_attributes
                %>
              <% else %>
                <%= card_helper.heading_text %>
              <% end %>
          <% end %>
        <% end %>
        <%= card_helper.context %>
      </div>
      <%= card_helper.description %>
      <% if card_helper.extra_links.any? %>
        <ul class="gem-c-image-card__list <%= "gem-c-image-card__list--indented" if not card_helper.extra_links_no_indent %>">
          <% card_helper.extra_links.each do |link| %>
            <li class="gem-c-image-card__list-item">
              <%= link_to link[:text], link[:href],
                class: "gem-c-image-card__list-item-link #{brand_helper.color_class}",
                data: link[:data_attributes]
              %>
            </li>
          <% end %>
        </ul>
      <% end %>
      <% if card_helper.metadata %>
        <p class="gem-c-image-card__metadata"><%= card_helper.metadata %></p>
      <% end %>
    </div>
    <%= card_helper.image %>
  </div>
<% end %>
