<%
  href ||= false
  image_src ||= false
  image_alt ||= ""
  heading_text ||= false
  metadata ||= false
  description ||= false
  large ||= false
  heading_level ||= 2
  heading_tag = "h#{heading_level}" if [1, 2, 3, 4, 5, 6].include? heading_level
  extra_links ||= []
  extra_links_no_indent ||= false
%>
<% if href %>
  <div class="gem-c-image-card <%= "gem-c-image-card--large" if large %>">
    <% if image_src %>
      <figure class="gem-c-image-card__image-wrapper">
        <img src="<%= image_src %>"
          class="gem-c-image-card__image"
          alt="<%= image_alt %>"
        />
      </figure>
    <% end %>

    <div class="gem-c-image-card__text-wrapper">
      <% if metadata %>
        <p class="gem-c-image-card__metadata">
          <%= metadata %>
        </p>
      <% end %>

      <% if heading_text %>
        <%= content_tag(heading_tag,
          class: "gem-c-image-card__title") do %>
            <%= link_to heading_text, href, class: "gem-c-image-card__title-link" %>
        <% end %>
      <% end %>

      <% if description %>
        <p class="gem-c-image-card__description">
          <%= description %>
        </p>
      <% end %>

      <% if extra_links.any? %>
        <ul class="gem-c-image-card__list <%= "gem-c-image-card__list--indented" if not extra_links_no_indent %>">
          <% extra_links.each do |link| %>
            <li class="gem-c-image-card__list-item">
              <%= link_to link[:text], link[:href] %>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
<% end %>
