<%
  dismiss_text ||= false
  suggestion_link_text ||= false
  suggestion_link_url ||= false
  suggestion_text ||= nil

  data_attributes ||= {}
  data_attributes[:module] = 'intervention'
  suggestion_data_attributes ||= {}
  dismiss_data_attributes ||= {}

  aria_attributes ||= {}
  aria_attributes[:label] = 'Intervention'

  local_assigns[:query_string] ||= request.query_string

  intervention_helper = GovukPublishingComponents::Presenters::InterventionHelper.new(local_assigns)
  dismiss_href = intervention_helper.dismiss_link

  suggestion_tag_options = {
    class: "govuk-link gem-c-intervention__suggestion-link",
    href: suggestion_link_url,
    data: suggestion_data_attributes,
  }

  new_tab ||= false
  if new_tab && (suggestion_link_text && suggestion_link_text)
    target = "_blank"
    rel = "noopener noreferrer"
    rel << " external" unless suggestion_link_url && suggestion_link_url.start_with?("/", "https://gov.uk", "https://www.gov.uk")

    suggestion_tag_options.merge!({ target: target, rel: rel })

    accessible_text = I18n.t("components.intervention.accessible_link_text_suffix")
    suggestion_link_text << accessible_text unless suggestion_link_text.include?(accessible_text)
  end
%>
<% if suggestion_text || (suggestion_link_text && suggestion_link_text) %>
  <%= tag.section class: "gem-c-intervention", role: "region", aria: aria_attributes, data: data_attributes do %>
    <p class="govuk-body">
      <%= tag.span suggestion_text, class: "gem-c-intervention__textwrapper" if suggestion_text %>
      <% if suggestion_link_text && suggestion_link_url %>
        <%= tag.a suggestion_link_text, suggestion_tag_options %>
      <% end %>
    </p>

    <% if dismiss_text %>
      <p class="govuk-body">
        <%= tag.a class: "govuk-link gem-c-intervention__dismiss", href: dismiss_href, data: dismiss_data_attributes do %>
          <svg class="gem-c-intervention__dismiss-icon"
            width="19" height="19" viewBox="0 0 19 19"
            aria-hidden="true"
            fill="none" stroke="currentColor">
            <path d="M0.499997 9.5C0.499997 4.52944 4.52944 0.499999 9.5 0.499999C14.4706 0.5 18.5 4.52944 18.5 9.5C18.5 14.4706 14.4706 18.5 9.5 18.5C4.52943 18.5 0.499997 14.4706 0.499997 9.5Z"/>
            <path d="M13.3477 5.4209L9.67383 9.09473L6 5.4209"/>
            <path d="M6 13.4209L9.67383 9.74707L13.3477 13.4209"/>
          </svg>
          <%= dismiss_text %>
        <% end %>
      </p>
    <% end %>
  <% end %>
<% end %>
