<%
  add_gem_component_stylesheet("layout-header")

  environment ||= nil
  full_width ||= false
  navigation_aria_label ||= t("components.layout_header.top_level")
  navigation_items ||= []
  product_name ||= nil
  remove_bottom_border ||= false
  search ||= false
  width_class = full_width ? "govuk-header__container--full-width" : "govuk-width-container"
  logo_link ||= "/"

  header_classes = %w[gem-c-layout-header govuk-header]
  header_classes << "gem-c-layout-header--#{environment}" if environment
  header_classes << "gem-c-layout-header--no-bottom-border" if remove_bottom_border
%>

<header class="<%= header_classes.join(' ') %>"  role="banner" data-module="govuk-header">
  <div class="govuk-header__container <%= width_class %>">
    <div class="govuk-grid-row">
      <div class="gem-c-layout-header__logo govuk-grid-column-one-half">
        <%= render "govuk_publishing_components/components/layout_header/header_logo", {
          environment: environment,
          logo_link: logo_link,
          product_name: product_name,
        } %>
      </div>
      <% if navigation_items.any? %>
        <div class="govuk-header__content gem-c-header__content govuk-grid-column-full govuk-!-display-none-print">
          <%= render "govuk_publishing_components/components/layout_header/navigation_items", navigation_items: navigation_items, navigation_aria_label: navigation_aria_label %>
        </div>
      <% end %>
      <% if search %>
        <div class="govuk-grid-column-one-half gem-c-layout-header__search govuk-!-display-none-print">
          <%= render "govuk_publishing_components/components/layout_header/search" %>
        </div>
      <% end %>
    </div>
  </div>
</header>
