<%
  emergency_banner ||= nil
  full_width ||= false
  global_bar ||= nil
  html_lang ||= "en"
  layout_helper = GovukPublishingComponents::Presenters::PublicLayoutHelper.new(local_assigns)
  logo_link ||= "/"
  navigation_items ||= []
  omit_header ||= false
  show_search = local_assigns.include?(:show_search) ? local_assigns[:show_search] : true
  title ||= "GOV.UK - The best place to find government services and information"

# This is a hack - but it's the only way I can find to not have two blue bars on
# constrained width layouts.
#
# The full width layout hides the blue bar underneath the blar header bar - so
# full width pages won't see the blue bar unless it's added by another component
# - and for most pages that component is the global banner.
#
# The constrained width layout doesn't hide the blue bar - so having the global
# banner on a constrained width layout means there are two blue bars.
#
# The global banner is shown with JavaScript, so users without JavaScript won't
# see it. So the constrained width blue bar can't be turned off as then it'll be
# off for everyone.
#
# This booleon adds a CSS class that shifts the banners up by the blue bar's
# height, making the two blue bars overlap and appear as one. The class is added
# when a) there's content for the emergency or global banner *and* b) when using
# the contrained width layout.
  blue_bar_dedupe = !full_width && global_bar.present?
-%>
<!DOCTYPE html>
  <!--[if lt IE 9]><html class="lte-ie8" lang="<%= html_lang %>"><![endif]-->
  <!--[if gt IE 8]><!--><html lang="<%= html_lang %>"><!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <title><%= title %></title>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", media: "all" %>
    <%= stylesheet_link_tag "print", media: "print" %>
    <!--[if lt IE 9]><%= javascript_include_tag "govuk_publishing_components/ie", integrity: true, crossorigin: "anonymous" %><![endif]-->
    <link rel="shortcut icon" href="<%= asset_path 'favicon.ico' %>" type="image/x-icon" />
    <link rel="mask-icon" href="<%= asset_path 'govuk-mask-icon.svg' %>" color="#0b0c0c">
    <link rel="apple-touch-icon" sizes="180x180" href="<%= asset_path "govuk-apple-touch-icon-180x180.png" %>">
    <link rel="apple-touch-icon" sizes="167x167" href="<%= asset_path "govuk-apple-touch-icon-167x167.png" %>">
    <link rel="apple-touch-icon" sizes="152x152" href="<%= asset_path "govuk-apple-touch-icon-152x152.png" %>">
    <link rel="apple-touch-icon" href="<%= asset_path "govuk-apple-touch-icon.png" %>">

    <meta name="theme-color" content="#0b0c0c" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% #  Ensure that older IE versions always render with the correct rendering engine %>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <% # The default og:image is added below :head so that scrapers see any custom metatags first, and this is just a fallback %>
    <meta property="og:image" content="<%= asset_path "govuk-opengraph-image.png" %>">

    <%= yield :head %>
  </head>
  <body class="gem-c-layout-for-public govuk-template__body">
    <script>
      document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
    </script>
    <%= render "govuk_publishing_components/components/skip_link", {
      href: "#content"
    } %>

    <%= render "govuk_publishing_components/components/cookie_banner" %>

    <% unless omit_header %>
      <%= render "govuk_publishing_components/components/layout_header", {
        search: show_search,
        logo_link: logo_link,
        navigation_items: navigation_items,

        # The (blue) bottom border needs to be underneath the emergency banner -
        # so it has been turned off and added in manually.
        remove_bottom_border: true,
      } %>
    <% end %>

    <%= raw(emergency_banner) %>

    <% unless full_width %>
      <div class="gem-c-layout-for-public__blue-bar govuk-width-container"></div>
    <% end %>

    <% if global_bar.present? %>
      <%= content_tag("div", {
        class: blue_bar_dedupe ? "gem-c-layout-for-public__global-banner-wrapper" : nil,
      }) do %>
        <%= raw(global_bar) %>
      <% end %>
    <% end %>

    <div id="wrapper" class="<%= "govuk-width-container" unless full_width %>">
      <%= yield :before_content %>
      <main class="govuk-main-wrapper" id="content">
        <%= yield %>
      </main>
    </div>

    <div class="govuk-width-container">
      <%= render "govuk_publishing_components/components/feedback" %>
    </div>

    <% unless local_assigns[:hide_footer_links] %>
      <%= render "govuk_publishing_components/components/layout_footer", {
        with_border: true,
        navigation: layout_helper.footer_navigation,
        meta: layout_helper.footer_meta,
      } %>
    <% end %>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
