<%
  add_gem_component_stylesheet("layout-for-admin")
  js_filename ||= "application"
  css_filename ||= "application"

  product_name ||= "Publishing"
%>

<!DOCTYPE html>
<html lang="en" class="govuk-template">
  <head>
    <meta charset="utf-8" />
    <title><%= browser_title %> - GOV.UK <%= product_name %></title>
    <meta name="robots" content="noindex,nofollow,noimageindex">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= favicon_link_tag "govuk_publishing_components/favicon-#{environment}.png" %>
    <%= stylesheet_link_tag css_filename, media: "all" %>
    <%= javascript_include_tag "govuk_publishing_components/vendor/modernizr" %>
    <%= yield :head %>
  </head>
  <body class="gem-c-layout-for-admin govuk-template__body">
    <%= javascript_tag nonce: true do -%>
      document.body.className += ' js-enabled' + ('noModule' in HTMLScriptElement.prototype ? ' govuk-frontend-supported' : '');
    <% end -%>
    <%= yield %>
    <%= javascript_include_tag js_filename %>
  </body>
</html>
