<%
  add_gem_component_stylesheet("layout-footer")

  meta ||= []
  navigation ||= []
  with_border ||= false
  classes = %w(gem-c-layout-footer govuk-footer)
  classes << "gem-c-layout-footer--border" if with_border
  layout_footer_helper = GovukPublishingComponents::Presenters::LayoutFooterHelper.new(navigation, meta)
  absolute_links_helper = GovukPublishingComponents::Presenters::AbsoluteLinksHelper.new()
%>
<%= tag.footer class: classes, role: "contentinfo", 'data-module': "ga4-link-tracker" do %>
  <div class="govuk-width-container">
    <% if navigation.any? %>
      <div class="govuk-footer__navigation">
        <% navigation.each_with_index do |section, ga4_section_index| %>
          <% if section[:items] %>
            <%
              case section[:columns]
              when 2
                width_class = "govuk-grid-column-two-thirds"
              when 3
                width_class = "govuk-grid-column-full"
              else
                width_class = "govuk-grid-column-one-third"
              end

              # If the list has multiple columns and there is only one link.
              # This is to prevent a long link wrapping in a column, which
              # leaves an obvious blank space to the right.
              single_item_list = (( section[:columns] == 2 || section[:columns] == 3 ) && section[:items].length == 1 )

              list_classes = %w[govuk-footer__list]
              list_classes << "govuk-footer__list--columns-#{section[:columns]}" if section[:columns] unless single_item_list
            %>
            <div class="<%= width_class %> govuk-!-display-none-print">
              <h2 class="govuk-footer__heading govuk-heading-m"><%= section[:title] %></h2>
                <ul class="<%= list_classes.join(' ') %>">
                  <% index_total = section[:items].length %>
                  <% section[:items].each_with_index do |item, index| %>
                    <% if item[:href] && item[:text] %>
                      <li class="govuk-footer__list-item">
                        <%
                          attributes = {
                            class: "govuk-footer__link",
                            data: {
                              "track-category": "footerClicked",
                            }
                          }.merge(item.fetch(:attributes, {}))
                          attributes[:rel] = "noopener" if attributes[:target] == "_blank" && !attributes[:rel]

                          unless attributes[:data][:ga4_link]
                            attributes[:data][:ga4_link] = layout_footer_helper.generate_ga4_link_attribute(index, ga4_section_index, section[:title], index_total)
                          end

                          item[:href] = absolute_links_helper.make_url_absolute(item[:href])
                        %>
                        <%= link_to item[:text], item[:href], attributes %>
                      </li>
                    <% end %>
                  <% end %>
                </ul>
            </div>
            <% end %>
        <% end %>
      </div>

      <hr class="govuk-footer__section-break">
    <% end %>
    <div class="govuk-footer__meta">
      <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
        <% if meta.any? %>
          <h2 class="govuk-visually-hidden"><%= t("components.layout_footer.support_links") %></h2>
          <ul class="govuk-footer__inline-list govuk-!-display-none-print">
            <% index_total = meta[:items].length %>
            <% meta[:items].each_with_index do |item, index| %>
              <li class="govuk-footer__inline-list-item">
                <%
                  attributes = {
                    class: "govuk-footer__link",
                  }.merge(item.fetch(:attributes, {}))
                  attributes[:data] ||= {}
                  attributes[:rel] = "noopener" if attributes[:target] == "_blank" && !attributes[:rel]

                  unless attributes[:data][:ga4_link]
                    attributes[:data][:ga4_link] = layout_footer_helper.generate_ga4_link_attribute(index, navigation.length, "Support links", index_total)
                  end

                  item[:href] = absolute_links_helper.make_url_absolute(item[:href])
                %>
                <%= link_to item[:text], item[:href], attributes %>
              </li>
            <% end %>
          </ul>
        <% end %>
        <svg aria-hidden="true" focusable="false" class="govuk-footer__licence-logo" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 483.2 195.7" height="17" width="41">
          <path
            fill="currentColor"
            d="M421.5 142.8V.1l-50.7 32.3v161.1h112.4v-50.7zm-122.3-9.6A47.12 47.12 0 0 1 221 97.8c0-26 21.1-47.1 47.1-47.1 16.7 0 31.4 8.7 39.7 21.8l42.7-27.2A97.63 97.63 0 0 0 268.1 0c-36.5 0-68.3 20.1-85.1 49.7A98 98 0 0 0 97.8 0C43.9 0 0 43.9 0 97.8s43.9 97.8 97.8 97.8c36.5 0 68.3-20.1 85.1-49.7a97.76 97.76 0 0 0 149.6 25.4l19.4 22.2h3v-87.8h-80l24.3 27.5zM97.8 145c-26 0-47.1-21.1-47.1-47.1s21.1-47.1 47.1-47.1 47.2 21 47.2 47S123.8 145 97.8 145"
          />
        </svg>
        <% # this is to avoid having hardcoded data attributes in locale files %>
        <span
          class="govuk-footer__licence-description"
          data-ga4-track-links-only
          data-ga4-link="<%= {
            "event_name": "navigation",
            "section": "Licence",
            "index_section": layout_footer_helper.ga4_ogl_link_index_section.to_s,
            "index_link": "1",
            "index_section_count": layout_footer_helper.ga4_index_section_count.to_s,
            "text": "Open Government Licence v3.0",
            "index_total": "1",
            "type": "footer",
          }.to_json %>"
        >
          <%= t("components.layout_footer.licence_html") %>
        </span>
      </div>
      <% # this is to avoid having hardcoded data attributes in locale files %>
      <div
        class="govuk-footer__meta-item"
        data-ga4-link="<%= {
          "event_name": "navigation",
          "section": "Copyright",
          "index_section": layout_footer_helper.ga4_copyright_link_index_section.to_s,
          "index_link": "1",
          "index_section_count": layout_footer_helper.ga4_index_section_count.to_s,
          "text": "© Crown copyright",
          "index_total": "1",
          "type": "footer",
        }.to_json %>"
      >
        <%= t("components.layout_footer.copyright_html") %>
      </div>
    </div>
  </div>
<% end %>
