<%
  meta ||= []
  navigation ||= []
  with_border ||= false
  classes = %w(gem-c-layout-footer govuk-footer)
  classes << "gem-c-layout-footer--border" if with_border
%>
<%= tag.footer class: classes, role: "contentinfo" do %>
  <div class="govuk-width-container">
    <% if navigation.any? %>
      <div class="govuk-footer__navigation" data-module="gem-track-click" data-track-links-only>
        <% navigation.each do |item| %>
          <% if item[:items] %>
            <%
              case item[:columns]
              when 2
                width_class = "govuk-grid-column-two-thirds"
              when 3
                width_class = "govuk-grid-column-full"
              else
                width_class = "govuk-grid-column-one-third"
              end

              # If the list has multiple columns and there is only one link.
              # This is to prevent a long link wrapping in a column, which
              # leaves an obvious blank space to the right.
              single_item_list = (( item[:columns] == 2 || item[:columns] == 3 ) && item[:items].length == 1 )

              list_classes = %w[govuk-footer__list]
              list_classes << "govuk-footer__list--columns-#{item[:columns]}" if item[:columns] unless single_item_list
            %>
            <div class="<%= width_class %> govuk-!-display-none-print">
              <h2 class="govuk-footer__heading govuk-heading-m"><%= item[:title] %></h2>
                <ul class="<%= list_classes.join(' ') %>">
                  <% item[:items].each do |item| %>
                    <% if item[:href] && item[:text] %>
                      <li class="govuk-footer__list-item">
                        <%
                          attributes = {
                            class: "govuk-footer__link",
                            data: {
                              "track-category": "footerClicked"
                            }
                          }.merge(item.fetch(:attributes, {}))
                          attributes[:rel] = "noopener" if attributes[:target] == "_blank" && !attributes[:rel]
                        %>
                        <%= link_to item[:text], item[:href], attributes %>
                      </li>
                    <% end %>
                  <% end %>
                </ul>
            </div>
            <% end %>
        <% end %>
      </div>

      <hr class="govuk-footer__section-break">
    <% end %>
    <div class="govuk-footer__meta">
      <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
        <% if meta.any? %>
          <h2 class="govuk-visually-hidden"><%= t("components.layout_footer.support_links") %></h2>
          <ul class="govuk-footer__inline-list govuk-!-display-none-print" data-module="gem-track-click" data-track-links-only>
            <% meta[:items].each do |item| %>
              <li class="govuk-footer__inline-list-item">
                <%
                  attributes = { class: "govuk-footer__link" }.merge(item.fetch(:attributes, {}))
                  attributes[:rel] = "noopener" if attributes[:target] == "_blank" && !attributes[:rel]
                %>
                <%= link_to item[:text], item[:href], attributes %>
              </li>
            <% end %>
          </ul>
        <% end %>
        <svg aria-hidden="true" focusable="false" class="govuk-footer__licence-logo" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 483.2 195.7" height="17" width="41">
          <path
            fill="currentColor"
            d="M421.5 142.8V.1l-50.7 32.3v161.1h112.4v-50.7zm-122.3-9.6A47.12 47.12 0 0 1 221 97.8c0-26 21.1-47.1 47.1-47.1 16.7 0 31.4 8.7 39.7 21.8l42.7-27.2A97.63 97.63 0 0 0 268.1 0c-36.5 0-68.3 20.1-85.1 49.7A98 98 0 0 0 97.8 0C43.9 0 0 43.9 0 97.8s43.9 97.8 97.8 97.8c36.5 0 68.3-20.1 85.1-49.7a97.76 97.76 0 0 0 149.6 25.4l19.4 22.2h3v-87.8h-80l24.3 27.5zM97.8 145c-26 0-47.1-21.1-47.1-47.1s21.1-47.1 47.1-47.1 47.2 21 47.2 47S123.8 145 97.8 145"
          />
        </svg>
        <% # this is to avoid having hardcoded data attributes in locale files %>
        <span
          class="govuk-footer__licence-description"
          data-module="gem-track-click"
          data-track-action="copyrightLink"
          data-track-category="footerClicked"
          data-track-label="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/"
          data-track-options='{"dimension29": "Open Government Licence v3.0"}'
          data-track-links-only
        >
          <%= t("components.layout_footer.licence_html") %>
        </span>
      </div>
      <% # this is to avoid having hardcoded data attributes in locale files %>
      <div
        class="govuk-footer__meta-item"
        data-module="gem-track-click"
        data-track-action="copyrightLink"
        data-track-category="footerClicked"
        data-track-label="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/"
        data-track-options='{"dimension29": "© Crown copyright"}'
        data-track-links-only
      >
        <%= t("components.layout_footer.copyright_html") %>
      </div>
    </div>
  </div>
<% end %>
