<%
  add_gem_component_stylesheet("layout-footer")

  meta ||= []
  navigation ||= []
  hide_licence ||= false
  layout_footer_helper = GovukPublishingComponents::Presenters::LayoutFooterHelper.new(navigation, meta)
  absolute_links_helper = GovukPublishingComponents::Presenters::AbsoluteLinksHelper.new()

  component_helper = GovukPublishingComponents::Presenters::ComponentWrapperHelper.new(local_assigns)
  component_helper.add_class("gem-c-layout-footer govuk-footer")
  component_helper.add_data_attribute({ module: "ga4-link-tracker" })
%>
<%= tag.footer(**component_helper.all_attributes) do %>
  <div class="govuk-width-container">
    <svg
      focusable="false"
      role="presentation"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 32 30"
      height="30"
      width="32"
      class="govuk-footer__crown"
    >
      <g>
        <circle cx="10.1" cy="8.8" r="1.8"></circle>
        <circle cx="5.2" cy="11.7" r="1.8"></circle>
        <circle cx="1.9" cy="16.6" r="1.8"></circle>
        <circle cx="16" cy="15.3" r="1.8"></circle>
        <circle cx="21.9" cy="8.8" r="1.8"></circle>
        <circle cx="26.8" cy="11.7" r="1.8"></circle>
        <circle cx="30.1" cy="16.6" r="1.8"></circle>
        <circle cx="16" cy="15.3" r="1.8"></circle>
        <path d="m16.7 4.9.2-.2 2.3 1.2V2.5l-2.3.7s-.1-.2-.2-.2l.9-2.9h-3.4l.9 2.9s-.2.1-.2.2l-2.3-.7v3.4l2.3-1.2.2.2-1.3 4c-.5 1.4.6 2.9 2.1 2.9s2.5-1.4 2.1-2.9l-1.3-4Zm2 14s-1.7 1.9-2.1 3c1.1 0 2.1-.3 3.2-1.4l-.4 4.3c-1-1.4-2.2-2-2.9-1.9 0 1.5.2 3.4 2.9 3.6 1.9.2 3.4-.8 3.5-1.9.2-1.3-1-2.2-1.9-.8-.7-2.3 1.2-3 2.5-1.6-1-2.2-.9-3.8 1.2-5.4 1.5 2 1.3 3.7-.6 5.5 1.2-.7 3.1 0 2 2.3-.6-1.4-1.8-1.1-2.1.1-.2.9.3 1.9 1.5 2.1.9.2 2.4-.5 3.5-2.9-.6 0-1.2.3-2 .8l1.2-4c.3 1.1.7 1.9 1.1 2.3.3-.8.2-1.4 0-2.7l2.5.9c-1.3 1.8-2.6 4.3-3.7 8.8-3.7-.5-7.9-.8-12.3-.8s-8.6.3-12.3.8c-1.1-4.4-2.3-7-3.7-8.8l2.5-.9c-.2 1.3-.3 1.9 0 2.7.4-.4.8-1.1 1.1-2.3l1.2 4c-.7-.5-1.3-.8-2-.8 1.2 2.5 2.6 3.1 3.5 2.9 1.1-.2 1.7-1.2 1.5-2.1-.3-1.2-1.5-1.5-2.1-.1-1.1-2.3.8-3 2-2.3-1.9-1.9-2.1-3.5-.6-5.5C9 18.4 9 20 8.1 22.2c1.2-1.4 3.2-.7 2.5 1.6-.9-1.4-2.1-.5-1.9.8.2 1.1 1.7 2.1 3.5 1.9 2.7-.2 2.9-2.1 2.9-3.6-.7-.1-1.9.5-2.9 1.9l-.4-4.3c1.1 1.1 2.1 1.4 3.2 1.4-.4-1.2-2.1-3-2.1-3h5.3Z"></path>
      </g>
    </svg>
    <% if navigation.any? %>
      <div class="govuk-footer__navigation">
        <% navigation.each_with_index do |section, ga4_section_index| %>
          <% if section[:items] %>
            <%
              case section[:columns]
              when 2
                width_class = "govuk-grid-column-two-thirds"
              when 3
                width_class = "govuk-grid-column-full"
              else
                width_class = "govuk-grid-column-one-third"
              end

              # If the list has multiple columns and there is only one link.
              # This is to prevent a long link wrapping in a column, which
              # leaves an obvious blank space to the right.
              single_item_list = (( section[:columns] == 2 || section[:columns] == 3 ) && section[:items].length == 1 )

              list_classes = %w[govuk-footer__list]
              list_classes << "govuk-footer__list--columns-#{section[:columns]}" if section[:columns] unless single_item_list
            %>
            <div class="<%= width_class %> govuk-!-display-none-print">
              <h2 class="govuk-footer__heading govuk-heading-m"><%= section[:title] %></h2>
                <ul class="<%= list_classes.join(' ') %>">
                  <% index_total = section[:items].length %>
                  <% section[:items].each_with_index do |item, index| %>
                    <% if item[:href] && item[:text] %>
                      <li class="govuk-footer__list-item">
                        <%
                          attributes = {
                            class: "govuk-footer__link",
                          }.merge(item.fetch(:attributes, {}))
                          attributes[:data] ||= {}
                          attributes[:rel] = "noopener" if attributes[:target] == "_blank" && !attributes[:rel]

                          unless attributes[:data][:ga4_link]
                            attributes[:data][:ga4_link] = layout_footer_helper.generate_ga4_link_attribute(index, ga4_section_index, section[:title], index_total)
                          end

                          href = absolute_links_helper.make_url_absolute(item[:href])
                        %>
                        <%= link_to item[:text], href, attributes %>
                      </li>
                    <% end %>
                  <% end %>
                </ul>
            </div>
            <% end %>
        <% end %>
      </div>

      <hr class="govuk-footer__section-break govuk-!-display-none-print">
    <% end %>
    <div class="govuk-footer__meta">
      <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
        <% if meta.any? %>
          <h2 class="govuk-visually-hidden"><%= t("components.layout_footer.support_links") %></h2>
          <ul class="govuk-footer__inline-list govuk-!-display-none-print">
            <% index_total = meta[:items].length %>
            <% meta[:items].each_with_index do |item, index| %>
              <li class="govuk-footer__inline-list-item">
                <%
                  attributes = {
                    class: "govuk-footer__link",
                  }.merge(item.fetch(:attributes, {}))
                  attributes[:data] ||= {}
                  attributes[:rel] = "noopener" if attributes[:target] == "_blank" && !attributes[:rel]

                  unless attributes[:data][:ga4_link]
                    attributes[:data][:ga4_link] = layout_footer_helper.generate_ga4_link_attribute(index, navigation.length, "Support links", index_total)
                  end

                  href = absolute_links_helper.make_url_absolute(item[:href])
                %>
                <%= link_to item[:text], href, attributes %>
              </li>
            <% end %>
          </ul>
        <% end %>
        <% unless hide_licence %>
          <svg aria-hidden="true" focusable="false" class="govuk-footer__licence-logo" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 483.2 195.7" height="17" width="41">
            <path
              fill="currentColor"
              d="M421.5 142.8V.1l-50.7 32.3v161.1h112.4v-50.7zm-122.3-9.6A47.12 47.12 0 0 1 221 97.8c0-26 21.1-47.1 47.1-47.1 16.7 0 31.4 8.7 39.7 21.8l42.7-27.2A97.63 97.63 0 0 0 268.1 0c-36.5 0-68.3 20.1-85.1 49.7A98 98 0 0 0 97.8 0C43.9 0 0 43.9 0 97.8s43.9 97.8 97.8 97.8c36.5 0 68.3-20.1 85.1-49.7a97.76 97.76 0 0 0 149.6 25.4l19.4 22.2h3v-87.8h-80l24.3 27.5zM97.8 145c-26 0-47.1-21.1-47.1-47.1s21.1-47.1 47.1-47.1 47.2 21 47.2 47S123.8 145 97.8 145"
            />
          </svg>
          <% # this is to avoid having hardcoded data attributes in locale files %>
          <span
            class="govuk-footer__licence-description"
            data-ga4-track-links-only
            data-ga4-link="<%= {
              "event_name": "navigation",
              "section": "Licence",
              "index_section": layout_footer_helper.ga4_ogl_link_index_section.to_s,
              "index_link": "1",
              "index_section_count": layout_footer_helper.ga4_index_section_count.to_s,
              "text": "Open Government Licence v3.0",
              "index_total": "1",
              "type": "footer",
            }.to_json %>"
          >
            <%= t("components.layout_footer.licence_html") %>
          </span>
        <% end %>
      </div>
      <% # this is to avoid having hardcoded data attributes in locale files %>
      <div
        class="govuk-footer__meta-item"
        data-ga4-link="<%= {
          "event_name": "navigation",
          "section": "Copyright",
          "index_section": layout_footer_helper.ga4_copyright_link_index_section.to_s,
          "index_link": "1",
          "index_section_count": layout_footer_helper.ga4_index_section_count.to_s,
          "text": "© Crown copyright",
          "index_total": "1",
          "type": "footer",
        }.to_json %>"
      >
        <%= t("components.layout_footer.copyright_html") %>
      </div>
    </div>
  </div>
<% end %>
