<%
  title ||= "GOV.UK - The best place to find government services and information"
  html_lang ||= "en"
%>

<!DOCTYPE html>
  <!--[if lt IE 9]><html class="lte-ie8" lang="<%= html_lang %>"><![endif]-->
  <!--[if gt IE 8]><!--><html lang="<%= html_lang %>"><!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <title><%= title %></title>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'print', media: 'print' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!--[if lt IE 9]><%= javascript_include_tag "ie.js", integrity: true, crossorigin: "anonymous" %><![endif]-->

    <%# the colour used for theme-color is the standard palette $black from
        https://github.com/alphagov/govuk_frontend_toolkit/blob/master/stylesheets/colours/_palette.scss %>
    <meta name="theme-color" content="#0b0c0c" />

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%# The default og:image is added below :head so that scrapers see any custom metatags first, and this is just a fallback %>
    <meta property="og:image" content="<%= asset_path "opengraph-image.png" %>">

    <%= yield :head %>
  </head>
  <body class="gem-c-layout-for-public govuk-template__body">
    <script>
      document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
    </script>

    <%= render "govuk_publishing_components/components/skip_link", {
      href: "#content"
    } %>

    <%= render "govuk_publishing_components/components/layout_header", {
      environment: "public",
      search: true,
    } %>

    <main class="govuk-width-container" id="content">
      <%= yield %>
    </main>

    <% unless local_assigns[:hide_footer_links] %>
      <%= render "govuk_publishing_components/components/layout_footer", {
        navigation: [
          {
            title: "Prepare for Brexit",
            columns: 2,
            items: [
              {
                href: "/business-uk-leaving-eu",
                text: "Prepare your business or organisation for Brexit",
                attributes: {
                  data: {
                    track_category: "footerClicked",
                    track_action: "brexitLinks",
                    track_label: "Prepare your business or organisation for the UK leaving the EU"
                  }
                }
              },
              {
                href: "/prepare-eu-exit",
                text: "Prepare for Brexit if you live in the UK",
                attributes: {
                  data: {
                    track_category: "footerClicked",
                    track_action: "brexitLinks",
                    track_label: "Prepare for Brexit if you live in the UK"
                  }
                }
              },
              {
                href: "/uk-nationals-living-eu",
                text: "Living in Europe after Brexit",
                attributes: {
                  data: {
                    track_category: "footerClicked",
                    track_action: "brexitLinks",
                    track_label: "Living in Europe after Brexit"
                  }
                }
              },
              {
                href: "/staying-uk-eu-citizen",
                text: "Continue to live in the UK after Brexit",
                attributes: {
                  data: {
                    track_category: "footerClicked",
                    track_action: "brexitLinks",
                    track_label: "Continue to live in the UK after Brexit"
                  }
                }
              }
            ]
          },
          {
            title: "Services and information",
            columns: 2,
            items: [
              {
                href: "/browse/benefits",
                text: "Benefits",
                attributes: {
                  data: {
                    track_category: "footerClicked",
                    track_action: "footerLinks",
                    track_label: "Benefits"
                  }
                }
              },
              {
                href: "/browse/births-deaths-marriages",
                text: "Births, deaths, marriages and care",
                attributes: {
                  data: {
                    track_category: "footerClicked",
                    track_action: "footerLinks",
                    track_label: "Births, deaths, marriages and care"
                  }
                }
              },
              {
                href: "/browse/business",
                text: "Business and self-employed",
                attributes: {
                  data: {
                    track_category: "footerClicked",
                    track_action: "footerLinks",
                    track_label: "Business and self-employed"
                  }
                }
              },
              {
                href: "/browse/childcare-parenting",
                text: "Childcare and parenting",
                attributes: {
                  data: {
                    track_category: "footerClicked",
                    track_action: "footerLinks",
                    track_label: "Childcare and parenting"
                  }
                }
              },
              {
                href: "/browse/citizenship",
                text: "Citizenship and living in the UK",
                attributes: {
                  data: {
                    track_category: "footerClicked",
                    track_action: "footerLinks",
                    track_label: "Citizenship and living in the UK"
                  }
                }
              },
              {
                href: "/browse/justice",
                text: "Crime, justice and the law",
                attributes: {
                  data: {
                    track_category: "footerClicked",
                    track_action: "footerLinks",
                    track_label: "Crime, justice and the law"
                  }
                }
              },
              {
                href: "/browse/disabilities",
                text: "Disabled people",
                attributes: {
                  data: {
                    track_category: "footerClicked",
                    track_action: "footerLinks",
                    track_label: "Disabled people"
                  }
                }
              },
              {
                href: "/browse/driving",
                text: "Driving and transport",
                attributes: {
                  data: {
                    track_category: "footerClicked",
                    track_action: "footerLinks",
                    track_label: "Driving and transport"
                  }
                }
              },
              {
                href: "/browse/education",
                text: "Education and learning",
                attributes: {
                  data: {
                    track_category: "footerClicked",
                    track_action: "footerLinks",
                    track_label: "Education and learning"
                  }
                }
              },
              {
                href: "/browse/employing-people",
                text: "Employing people",
                attributes: {
                  data: {
                    track_category: "footerClicked",
                    track_action: "footerLinks",
                    track_label: "Employing people"
                  }
                }
              },
              {
                href: "/browse/environment-countryside",
                text: "Environment and countryside",
                attributes: {
                  data: {
                    track_category: "footerClicked",
                    track_action: "footerLinks",
                    track_label: "Environment and countryside"
                  }
                }
              },
              {
                href: "/browse/housing-local-services",
                text: "Housing and local services",
                attributes: {
                  data: {
                    track_category: "footerClicked",
                    track_action: "footerLinks",
                    track_label: "Housing and local services"
                  }
                }
              },
              {
                href: "/browse/tax",
                text: "Money and tax",
                attributes: {
                  data: {
                    track_category: "footerClicked",
                    track_action: "footerLinks",
                    track_label: "Money and tax"
                  }
                }
              },
              {
                href: "/browse/abroad",
                text: "Passports, travel and living abroad",
                attributes: {
                  data: {
                    track_category: "footerClicked",
                    track_action: "footerLinks",
                    track_label: "Passports, travel and living abroad"
                  }
                }
              },
              {
                href: "/browse/visas-immigration",
                text: "Visas and immigration",
                attributes: {
                  data: {
                    track_category: "footerClicked",
                    track_action: "footerLinks",
                    track_label: "Visas and immigration"
                  }
                }
              },
              {
                href: "/browse/working",
                text: "Working, jobs and pensions",
                attributes: {
                  data: {
                    track_category: "footerClicked",
                    track_action: "footerLinks",
                    track_label: "Working, jobs and pensions"
                  }
                }
              }
            ]
          },
          {
            title: "Departments and policy",
            items: [
              {
                href: "/government/how-government-works",
                text: "How government works",
                attributes: {
                  data: {
                    track_category: "footerClicked",
                    track_action: "footerLinks",
                    track_label: "How government works"
                  }
                }
              },
              {
                href: "/government/organisations",
                text: "Departments",
                attributes: {
                  data: {
                    track_category: "footerClicked",
                    track_action: "footerLinks",
                    track_label: "Departments"
                  }
                }
              },
              {
                href: "/world",
                text: "Worldwide",
                attributes: {
                  data: {
                    track_category: "footerClicked",
                    track_action: "footerLinks",
                    track_label: "Worldwide"
                  }
                }
              },
              {
                href: "/search/services",
                text: "Services",
                attributes: {
                  data: {
                    track_category: "footerClicked",
                    track_action: "footerLinks",
                    track_label: "Services"
                  }
                }
              },
              {
                href: "/search/guidance-and-regulation",
                text: "Guidance and regulation",
                attributes: {
                  data: {
                    track_category: "footerClicked",
                    track_action: "footerLinks",
                    track_label: "Guidance and regulation"
                  }
                }
              },
              {
                href: "/search/news-and-communications",
                text: "News and communications",
                attributes: {
                  data: {
                    track_category: "footerClicked",
                    track_action: "footerLinks",
                    track_label: "News and communications"
                  }
                }
              },
              {
                href: "/search/research-and-statistics",
                text: "Research and statistics",
                attributes: {
                  data: {
                    track_category: "footerClicked",
                    track_action: "footerLinks",
                    track_label: "Research and statistics"
                  }
                }
              },
              {
                href: "/search/policy-papers-and-consultations",
                text: "Policy papers and consultations",
                attributes: {
                  data: {
                    track_category: "footerClicked",
                    track_action: "footerLinks",
                    track_label: "Policy papers and consultations"
                  }
                }
              },
              {
                href: "/search/transparency-and-freedom-of-information-releases",
                text: "Transparency and freedom of information releases",
                attributes: {
                  data: {
                    track_category: "footerClicked",
                    track_action: "footerLinks",
                    track_label: "Transparency and freedom of information releases"
                  }
                }
              }
            ]
          }
        ],
        meta: {
          items: [
            {
              href: "/help",
              text: "Help"
            },
            {
              href: "/help/cookies",
              text: "Cookies"
            },
            {
              href: "/contact",
              text: "Contact"
            },
            {
              href: "/help/terms-conditions",
              text: "Terms and conditions"
            },
            {
              href: "/cymraeg",
              text: "Rhestr o Wasanaethau Cymraeg"
            },
            {
              href: "/government/organisations/government-digital-service",
              text: "Government Digital Service"
            }
          ]
        }
      } %>
    <% end %>
  </body>
</html>
<!-- Thanks Martha -->
