<%
  add_gem_component_stylesheet("layout-for-public")

  for_static ||= false
  emergency_banner ||= nil
  full_width ||= false
  global_banner ||= nil
  html_lang ||= "en"
  homepage ||= false
  layout_helper = GovukPublishingComponents::Presenters::PublicLayoutHelper.new(local_assigns)
  logo_link ||= "/"
  navigation_items ||= []
  one_login_navigation_items ||= {}
  service_navigation_items ||= []
  omit_feedback_form ||= false
  omit_footer_navigation ||= false
  omit_header ||= false
  product_name ||= nil
  service_name ||= nil
  show_app_promo_banner ||= true
  show_cross_service_header ||= false
  draft_watermark ||= false
  title ||= "GOV.UK - The best place to find government services and information"
  title_lang ||= nil

  show_account_layout ||= false
  account_nav_location ||= nil
  omit_account_navigation ||= false
  omit_account_phase_banner ||= false

  body_css_classes = %w(gem-c-layout-for-public govuk-template__body)
  body_css_classes << "gem-c-layout-for-public--draft" if draft_watermark
  body_css_classes << "global-banner-present" if global_banner.present?
-%>
<!DOCTYPE html>
<html class="govuk-template govuk-template--rebranded" lang="<%= html_lang %>">
  <head>
    <meta charset="utf-8">
    <%= tag.title title, lang: title_lang %>

    <%= javascript_include_tag "govuk_publishing_components/vendor/lux/lux-measurer", { async: true } %>
    <%= javascript_include_tag "govuk_publishing_components/rum-custom-data", type: "module" %>
    <%= javascript_include_tag "govuk_publishing_components/rum-loader",
      {
        async: true,
        data: {
          "lux-reporter-script": path_to_javascript("govuk_publishing_components/vendor/lux/lux-reporter"),
        },
      } %>

    <%# Used for Google Analytics 4 debugging. Must be placed before load-analytics script. %>
    <meta name="govuk:components_gem_version" content="<%= GovukPublishingComponents::VERSION %>">
    <%= javascript_include_tag "govuk_publishing_components/load-analytics", type: "module" %>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", media: "all" %>
    <link rel="icon" sizes="48x48" href="<%= asset_path "favicon.ico" %>">
    <link rel="icon" sizes="any" href="<%= asset_path "favicon.svg" %>" type="image/svg+xml">
    <link rel="mask-icon" href="<%= asset_path "govuk-icon-mask.svg" %>" color="#1d70b8">
    <link rel="apple-touch-icon" href="<%= asset_path "govuk-icon-180.png" %>">

    <meta name="theme-color" content="#1d70b8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%# The default og:image is added below :head so that scrapers see any custom metatags first, and this is just a fallback %>
    <meta property="og:image" content="<%= asset_url("govuk-opengraph-image.png", host: Plek.website_root) %>">

    <%= yield :head %>
  </head>
  <%= tag.body class: body_css_classes do %>
    <%= javascript_tag nonce: true do -%>
      document.body.className += ' js-enabled' + ('noModule' in HTMLScriptElement.prototype ? ' govuk-frontend-supported' : '');
    <% end %>
    <% I18n.with_locale(:en) do %>
      <%= render "govuk_publishing_components/components/cookie_banner", layout_helper.cookie_banner_data %>
      <%= render "govuk_publishing_components/components/skip_link", {
        href: "#content",
      } %>
      <% if show_app_promo_banner %>
        <%= render "govuk_publishing_components/components/app_promo_banner" %>
      <% end %>
    <% end %>
    <% unless omit_header %>
      <% if show_cross_service_header %>
        <%= render "govuk_publishing_components/components/cross_service_header", {
          one_login_navigation_items: one_login_navigation_items,
          service_navigation_items: service_navigation_items,
          service_name: service_name,
        } %>
      <% else %>
        <% I18n.with_locale(:en) do %>
          <%= render "govuk_publishing_components/components/layout_super_navigation_header", {
            homepage:,
            logo_link: logo_link,
          } %>
        <% end %>
      <% end %>
    <% end %>

    <%= raw(emergency_banner) %>

    <% if global_banner.present? %>
      <%= raw(global_banner) %>
    <% end %>

    <% if show_account_layout %>
      <%= render "govuk_publishing_components/components/layout_for_public/account-layout", {
        omit_account_phase_banner: omit_account_phase_banner,
        omit_account_navigation: omit_account_navigation,
        account_nav_location: account_nav_location,
        for_static: for_static,
      } do %>
        <%= yield :before_content %>
        <%= yield %>
      <% end %>
    <% elsif for_static %>
      <div id="wrapper" class="<%= "govuk-width-container" unless full_width %>">
        <%= yield :before_content %>
        <main class="govuk-main-wrapper" id="content">
          <%= yield %>
        </main>
      </div>
    <% else %>
      <%= yield %>
    <% end %>

    <% unless omit_feedback_form %>
      <div class="govuk-width-container">
        <% I18n.with_locale(:en) do %>
          <%= render "govuk_publishing_components/components/feedback" %>
        <% end %>
      </div>
    <% end %>

    <% unless local_assigns[:hide_footer_links] %>
      <% I18n.with_locale(:en) do %>
        <%= render "govuk_publishing_components/components/layout_footer", {
          navigation: omit_footer_navigation ? nil : layout_helper.footer_navigation,
          meta: layout_helper.footer_meta,
        } %>
      <% end %>
    <% end %>
    <%= javascript_include_tag "application", type: "module" %>
    <% if GovukPublishingComponents::Config.use_es6_components %>
      <%= javascript_include_tag "es6-components", type: "module" %>
    <% end %>
  <% end %>
</html>
