<%
  add_gem_component_stylesheet("metadata")

  title ||= ""

  from ||= []
  from = Array(from)

  part_of ||= []
  part_of = Array(part_of)

  other ||= nil
  inverse ||= false
  inverse_compress ||= false

  direction_class = ""
  direction_class = " direction-#{direction}" if local_assigns.include?(:direction)

  shared_helper = GovukPublishingComponents::Presenters::SharedHelper.new(local_assigns)
  classes = %w(gem-c-metadata)
  classes << "direction-#{direction}" if local_assigns.include?(:direction)

  if inverse && inverse_compress
    classes << "gem-c-metadata--inverse"
  elsif inverse
    classes << "gem-c-metadata--inverse gem-c-metadata--inverse-padded"
  end

  classes << shared_helper.get_margin_bottom if local_assigns[:margin_bottom]

  disable_ga4 ||= false
  ga4_object = {
    event_name: "navigation",
    type: "content history",
    section: "Top",
  }.to_json unless disable_ga4
%>
<%= content_tag :div, class: classes, data: { module: "metadata" } do %>
  <% if title.present? %>
    <%= content_tag :div, class: "gem-c-metadata__title" do %>
      <%= render "govuk_publishing_components/components/heading", {
        text: sanitize(title),
        font_size: "m",
        inverse:,
        margin_bottom: 0,
      } %>
    <% end %>
  <% end %>
  <dl class="gem-c-metadata__list">
    <% if from.any? %>
      <dt class="gem-c-metadata__term"><%= t("components.metadata.from") %>:</dt>
      <dd class="gem-c-metadata__definition" data-module="gem-toggle">
        <%= render 'govuk_publishing_components/components/metadata/sentence', items: from, toggle_id: "from-#{SecureRandom.hex(4)}" %>
      </dd>
    <% end %>
    <% if part_of.any? %>
      <dt class="gem-c-metadata__term"><%= t("components.metadata.part_of") %>:</dt>
      <dd class="gem-c-metadata__definition" data-module="gem-toggle">
        <%= render 'govuk_publishing_components/components/metadata/sentence', items: part_of, toggle_id: "part-of-#{SecureRandom.hex(4)}" %>
      </dd>
    <% end %>
    <% if local_assigns.include?(:history) %>
      <dt class="gem-c-metadata__term"><%= t("components.metadata.history") %>:</dt>
      <dd class="gem-c-metadata__definition"><%= history %></dd>
    <% end %>
    <% if local_assigns.include?(:first_published) && first_published %>
      <dt class="gem-c-metadata__term"><%= t("components.metadata.published") %></dt>
      <dd class="gem-c-metadata__definition"><%= first_published %></dd>
    <% end %>
    <% if local_assigns.include?(:last_updated) && last_updated %>
      <dt class="gem-c-metadata__term"><%= t("components.metadata.last_updated") %></dt>
      <dd class="gem-c-metadata__definition">
        <%= last_updated %>
        <% if local_assigns.include?(:see_updates_link) %>
          &#8212; <a href="#full-publication-update-history"
                    class="gem-c-metadata__definition-link govuk-!-display-none-print js-see-all-updates-link">
            <%= t("components.metadata.see_all_updates") %>
          </a>
        <% end %>
      </dd>
    <% end %>
    <% if other.present? %>
      <% other.each_with_index do |(title, definition), index| %>
        <%
          definition ||= []
          definition = Array(definition)
        %>
        <% if definition.any? %>
          <dt class="gem-c-metadata__term"><%= title %>:</dt>
          <dd class="gem-c-metadata__definition"
            <% if disable_ga4 %>
              data-module="gem-toggle"
            <% else %>
              data-module="gem-toggle ga4-link-tracker"
              data-ga4-track-links-only
              data-ga4-link="<%= ga4_object %>"
            <% end%>>
            <%= render 'govuk_publishing_components/components/metadata/sentence', items: definition, toggle_id: "#{index}-#{SecureRandom.hex(4)}" %>
          </dd>
        <% end %>
      <% end %>
    <% end %>
  </dl>
<% end %>
