<%
  title ||= false
  description_text ||= false
  description_govspeak ||= false
  description ||= yield || false
  margin_bottom_class = " gem-c-notice--bottom-margin" unless local_assigns[:margin_bottom]
  description_present = description.present? || description_text.present? || description_govspeak.present?
%>
<% if title || description_present %>
  <section class="gem-c-notice<%= margin_bottom_class %>" aria-label="Notice" role="region">
    <% if title %>
      <% if description_present %>
        <h2 class="gem-c-notice__title"><%= title %></h2>
      <% else %>
        <span class="gem-c-notice__title"><%= title %></span>
      <% end %>
    <% end %>

    <% if description_text %>
      <p class="gem-c-notice__description"><%= description_text %></p>
    <% end %>

    <% if description %>
      <%= description %>
    <% end %>

    <% if description_govspeak.present? %>
      <%= render 'govuk_publishing_components/components/govspeak', content: description_govspeak %>
    <% end %>
  </section>
<% end %>
