<%
  description ||= false
  prepend ||= false
  append ||= false

  shared_helper = GovukPublishingComponents::Presenters::SharedHelper.new(local_assigns)
  component_helper = GovukPublishingComponents::Presenters::ComponentWrapperHelper.new(local_assigns)
  component_helper.add_class("gem-c-panel govuk-panel govuk-panel--confirmation")
%>
<%= tag.div(**component_helper.all_attributes) do %>
  <%= content_tag(shared_helper.get_heading_level, class: "govuk-panel__title") do %>
    <% if prepend %>
      <span class="gem-c-panel__prepend">
        <%= prepend %>
      </span>
    <% end %>
    <span class="govuk-panel__title-text">
      <%= title %>
    </span>
    <% if append %>
      <span class="gem-c-panel__append">
        <%= append %>
      </span>
    <% end %>
  <% end %>

  <% if description %>
    <div class="govuk-panel__body">
      <%= description %>
    </div>
  <% end %>
<% end %>
