<%
app_name ||= nil
phase ||= nil
message ||= nil 

unless phase.in?(%w[alpha beta])
  raise ArgumentError, "The phase banner component expects a `phase` (`beta` or `alpha`), #{phase.inspect} given"
end

unless message.present?
  if phase == "beta"
    message = raw("This part of GOV.UK is being rebuilt &ndash; <a href=\"/help/beta\">find out what beta means</a>")
  elsif phase == "alpha"
    message = raw("This part of GOV.UK is being built &ndash; <a href=\"/service-manual/phases/ideal-alphas\">find out what alpha means</a>")
  end
end 
%>

<%= tag.div class: "gem-c-phase-banner govuk-phase-banner" do %>
  <%= tag.p class: "govuk-phase-banner__content" do %>
    <%= tag.strong app_name, class: "govuk-phase-banner__content__app-name" if app_name %>
    <%= tag.strong phase, class: "govuk-tag govuk-phase-banner__content__tag" %>
    <%= tag.span message, class: "govuk-phase-banner__text" if message %>
  <% end %>
<% end %>
