<%
add_gem_component_stylesheet("phase-banner")

app_name ||= nil
phase ||= nil
message ||= nil
inverse ||= false

unless message.present?
  if phase == "beta"
    message = raw("This part of GOV.UK is being rebuilt &ndash; <a class=\"govuk-link\" href=\"/help/beta\">find out what beta means</a>")
  elsif phase == "alpha"
    message = raw("This part of GOV.UK is being built &ndash; <a class=\"govuk-link\" href=\"/service-manual/agile-delivery/how-the-alpha-phase-works\">find out what alpha means</a>")
  end
end

container_css_classes = %w(gem-c-phase-banner govuk-phase-banner)
container_css_classes << "gem-c-phase-banner--inverse" if inverse
%>

<%= tag.div class: container_css_classes do %>
  <%= tag.p class: "govuk-phase-banner__content" do %>
    <%= tag.strong app_name, class: "govuk-phase-banner__content__app-name" if app_name %>
    <%= tag.strong phase, class: "govuk-tag govuk-phase-banner__content__tag" if phase %>
    <%= tag.span message, class: "govuk-phase-banner__text" if message %>
  <% end %>
<% end %>
