<% related_nav_helper ||= GovukPublishingComponents::Presenters::RelatedNavigationHelper.new(local_assigns) %>
<% shared_helper = GovukPublishingComponents::Presenters::SharedHelper.new(local_assigns) %>
<%
  ga4_tracking ||= false
  @ga4_tracking_counts = OpenStruct.new(section_index: 1, link_count: related_nav_helper.total_links) unless local_assigns[:in_contextual_sidebar]
%>

<% if related_nav_helper.related_navigation? %>
  <p>RL counts: <%= @ga4_tracking_counts.inspect %>
  <% random = SecureRandom.hex(4) %>
  <div class="gem-c-related-navigation" <% if ga4_tracking %>data-module="ga4-link-tracker"<% end %>>

    <% if local_assigns[:context] != :footer %>
      <h2 id="related-nav-related_items-<%= random %>"
          class="gem-c-related-navigation__main-heading"
          data-track-count="sidebarRelatedItemSection"
          <%= shared_helper.t_lang(
              "components.related_#{local_assigns[:context]}_navigation.related_content",
              default: 'components.related_navigation.related_content'
            )
          %>
      >
        <%= related_nav_helper.component_title %>
      </h2>
    <% end %>

    <% related_nav_helper.related_navigation.each do |section_title, links| %>
      <% next unless links.any? %>

      <%= render 'govuk_publishing_components/components/related_navigation/section',
        related_nav_helper: related_nav_helper,
        shared_helper: shared_helper,
        section_title: section_title,
        links: links,
        random: random,
        ga4_tracking: ga4_tracking %>
      <% @ga4_tracking_counts.section_index += 1 %>
    <% end %>
  </div>
<% end %>
