<% related_content = build_related_content(local_assigns) %>
<% if related_content.map(&:values).flatten.any? || other.flatten.any? %>
  <aside class="app-c-related-navigation" role="complementary">
    <h2 id="related-nav-related_items"
        class="app-c-related-navigation__main-heading"
        data-track-count="sidebarRelatedItemSection" >
      <%= t('components.related_navigation.related_content') %>
    </h2>
    <% section_index = 0 %>
    <% related_content.each do |section| %>
      <% section.each do |section_title, links| %>
        <% if links.any? %>
          <% section_index += 1 %>
          <% unless section_title === "related_items" %>
            <h3 id="related-nav-<%= section_title %>"
              data-track-count="sidebarRelatedItemSection"
              class="<%= section_css_class("app-c-related-navigation__sub-heading", section_title) %>">
              <%= construct_section_heading(section_title) %>
            </h3>
          <% end %>
          <nav role="navigation"
               class="app-c-related-navigation__nav-section"
               aria-labelledby="related-nav-<%= section_title %>"
               data-module="toggle">
            <ul class="app-c-related-navigation_link-list" data-module="track-click">
              <% constructed_link_array = [] %>
              <% section_link_limit = calculate_section_link_limit(links) %>
              <% links.each.with_index(1) do |link, index| %>
                <%
                  link_element = link_to(
                    link[:text],
                    link[:path],
                    class: section_css_class("app-c-related-navigation__section-link", section_title, link),
                    rel: link[:rel],
                    data: {
                      track_category: 'relatedLinkClicked',
                      track_action: "#{section_index}.#{index} #{construct_section_heading(section_title) || t('components.related_navigation.related_content')}",
                      track_label: link[:path],
                      track_options: {
                        dimension28: links.length.to_s,
                        dimension29: link[:text]
                      }
                    }
                  )
                %>
                <% if index <= section_link_limit %>
                  <li class="app-c-related-navigation__link"><%= link_element %></li>
                <% else %>
                  <% constructed_link_array.push(link_element) %>
                <% end %>
              <% end %>
              <% if links.length > section_link_limit %>
                <li class="app-c-related-navigation__link toggle-wrap">
                  <a href="#"
                    data-controls="toggle_<%= section_title %>"
                    data-expanded="false"
                    data-toggled-text="<%= t("govuk_component.metadata.toggle_less", default: "Show fewer") %>">
                    <%= t("govuk_component.metadata.toggle_more",
                          number: remaining_link_count(links),
                          default: "+ #{remaining_link_count(links)} more") %>
                  </a>
                </li>
                <li class="app-c-related-navigation__link">
                  <span id="toggle_<%= section_title %>" class="js-hidden">
                    <%= constructed_link_array.to_sentence.html_safe %>
                  </span>
                </li>
              <% end %>
            </ul>
          </nav>
        <% end %>
      <% end %>
    <% end %>
  </aside>
<% end %>
