<%
  shared_helper = GovukPublishingComponents::Presenters::SharedHelper.new(local_assigns)
  signed_in ||= false
  page_is_saved ||= false
  page_path ||= nil
  save_this_page = GovukPublishingComponents::Presenters::SaveThisPageHelper.new(local_assigns)
%>
<% if page_path %>
  <div class="gem-c-save-this-page">
    <%= content_tag(shared_helper.get_heading_level, save_this_page.heading_text, class: "govuk-heading-s") %>
    <form action="<%= save_this_page.form_action %>" method="POST">
      <input type="hidden" name="url" value="<%= page_path %>">
      <%= render "govuk_publishing_components/components/button", {
        text: save_this_page.button_text,
        margin_bottom: 4,
      } %>
    </form>
    <%= content_tag(:p, sanitize(save_this_page.additional_text), class: 'govuk-body') %>
  </div>
<% end %>
