<%
  class_name = "gem-c-search--on-white"
  class_name = "gem-c-search--on-govuk-blue" if local_assigns.include?(:on_govuk_blue)
  size ||= ""
  no_margin ||= false
  no_border ||= false
  class_name = "#{class_name} gem-c-search--no-border" if no_border
  class_name = "#{class_name} gem-c-search--large" if size == 'large'
  class_name = "#{class_name} gem-c-search--no-margin" if no_margin
  class_name = "#{class_name} gem-c-search--separate-label" if local_assigns.include?(:inline_label)

  value ||= ""
  id ||= "search-main-" + SecureRandom.hex(4)
  label_text ||= "Search GOV.UK"
  name ||= 'q'
  aria_controls ||= nil
%>

<div class="gem-c-search <%= class_name %>" data-module="gem-toggle-input-class-on-focus">
  <label for="<%= id %>" class="gem-c-search__label">
    <%= label_text %>
  </label>
  <div class="gem-c-search__item-wrapper">
    <input type="search" value="<%= value %>"
      id="<%= id %>" name="<%= name %>" title="Search"
      aria-controls="<%= aria_controls %>"
      class="gem-c-search__item gem-c-search__input js-class-toggle">
    <div class="gem-c-search__item gem-c-search__submit-wrapper">
      <button type="submit" class="gem-c-search__submit">Search</button>
    </div>
  </div>
</div>
