<%
  add_gem_component_stylesheet("step-by-step-nav-related")
  disable_ga4 ||= false
  links ||= []
  pretitle ||= t("components.step_by_step_nav_related.part_of")
  always_display_as_list ||= false
  classes = %w(gem-c-step-nav-related)
  classes << "gem-c-step-nav-related--singular" if links.length == 1
  data = {}
  data[:module] = "ga4-link-tracker" unless disable_ga4
%>
<% if links.any? %>
  <%= tag.div(class: classes, data: data) do %>
    <h2 class="gem-c-step-nav-related__heading">
      <span class="gem-c-step-nav-related__pretitle"><%= pretitle %></span>
      <% if links.length == 1 && !always_display_as_list %>
          <a href="<%= links[0][:href] %>"
            class="govuk-link"
            <% unless disable_ga4
              ga4_attributes = {
                event_name: "navigation",
                type: "part of",
                "index_link": "1",
                index_total: "1",
                section: pretitle,
              }.to_json
            %>
              data-ga4-link="<%= ga4_attributes %>"
            <% end %>
          >
            <%= links[0][:text] %>
          </a>
        </h2>
      <% else %>
        </h2>
        <ul class="gem-c-step-nav-related__links">
          <% links.each_with_index do |link, index| %>
            <li class="gem-c-step-nav-related__link-item">
              <a href="<%= link[:href] %>"
                class="govuk-link"
                <% unless disable_ga4
                  ga4_attributes = {
                    event_name: "navigation",
                    type: "part of",
                    index_link: (index + 1).to_s,
                    index_total: (links.length).to_s,
                    section: pretitle,
                  }.to_json
                %>
                  data-ga4-link="<%= ga4_attributes %>"
                <% end %>
              >
                <%= link[:text] %>
              </a>
            </li>
          <% end %>
        </ul>
      <% end %>
  <% end %>
<% end %>