<%
  options = {}
  options[:heading_level] = heading_level ||= 2

  steps ||= false
  small ||= false
  show_step ||= false
  remember_last_step ||= false
  step_nav_url ||= false
  highlight_step ||= false
  tracking_id ||= false
  step_nav_content_id ||= tracking_id

  step_count = 0
  step_number = 0

  step_nav_helper = GovukPublishingComponents::Presenters::StepByStepNavHelper.new
%>
<% if steps %>
  <div
    data-module="gemstepnav"
    class="gem-c-step-nav js-hidden <% unless small %>gem-c-step-nav--large<% end %>"
    <%= "data-remember" if remember_last_step %>
    <%= "data-id=#{tracking_id}" if tracking_id %>
    data-show-text="<%= t("govuk_component.step_by_step_nav.show", default: "show") %>"
    data-hide-text="<%= t("govuk_component.step_by_step_nav.hide", default: "hide") %>"
    data-show-all-text="<%= t("govuk_component.step_by_step_nav.show_all", default: "Show all steps") %>"
    data-hide-all-text="<%= t("govuk_component.step_by_step_nav.hide_all", default: "Hide all steps") %>"
  >
    <ol class="gem-c-step-nav__steps">
      <% steps.each_with_index do |step, step_index| %>
        <%
          step_is_active = step_index + 1 == highlight_step
          step_count += 1
          id = step_nav_helper.generate_step_nav_id(step[:title])

          logic = false
          logic = step[:logic] if ["and", "or"].include? step[:logic]
          circle_class = "gem-c-step-nav__circle--number"
          circle_class = "gem-c-step-nav__circle--logic" if logic
        %>
        <li class="gem-c-step-nav__step js-step
          <%= "gem-c-step-nav__step--active" if step_is_active %>"
          <% if step_is_active %>aria-current="step"<% end %>
          <%= "data-show" if step_count == show_step %>
          id="<%= id %>"
          data-track-count="stepNavSection"
          <%= "data-optional" if step[:optional] %>
        >
          <div class="gem-c-step-nav__header js-toggle-panel" data-position="<%= "#{step_index + 1}" %>">
            <%= content_tag("h#{heading_level}", class: 'gem-c-step-nav__title') do %>
              <span class="gem-c-step-nav__circle <%= circle_class %>">
                <span class="gem-c-step-nav__circle-inner">
                  <span class="gem-c-step-nav__circle-background">
                    <% if logic %>
                      <%= logic %>
                    <% else %>
                      <% step_number += 1 %>
                      <span class="gem-c-step-nav__circle-step-label visuallyhidden">Step</span> <%= step_number %><span class="gem-c-step-nav__circle-step-colon visuallyhidden" aria-hidden="true">:</span>
                    <% end %>
                  </span>
                </span>
              </span>

              <span class="js-step-title">
                <%= step[:title] %>
              </span>
            <% end %>
          </div>

          <div class="gem-c-step-nav__panel js-panel" id="step-panel-<%= id %>-<%= step_index + 1 %>">
            <%
              in_substep = false
              options[:step_nav_content_id] = step_nav_content_id
              options[:step_index] = step_index
              options[:link_index] = 0
            %>
            <% step[:contents].each do |element| %>
              <%= step_nav_helper.render_step_nav_element(element, options) %>

              <%
                if element[:type] == 'list'
                  options[:link_index] += element[:contents].length
                end
              %>
            <% end %>
          </div>

        </li>
      <% end %>
    </ol>
  </div>
<% end %>
