<%
  options = {}
  options[:heading_level] = heading_level ||= 2

  steps ||= false
  small ||= false
  show_step ||= false
  remember_last_step ||= false
  step_nav_url ||= false
  step_nav_link_text ||= "Get help completing this step"
  highlight_step ||= false
  tracking_id ||= false

  step_count = 0
  step_number = 0
%>
<% if steps %>
  <div
    data-module="gemstepnav"
    class="gem-c-step-nav js-hidden <% unless small %>gem-c-step-nav--large<% end %>"
    <%= "data-remember" if remember_last_step %>
    <%= "data-id=#{tracking_id}" if tracking_id %>
  >
    <ol class="gem-c-step-nav__steps">
      <% steps.each_with_index do |step, step_index| %>
        <%
          step_is_active = step_index + 1 == highlight_step
          step_count += 1
          id = StepNavHelper.new.generate_step_nav_id(step[:title])

          logic = false
          logic = step[:logic] if ["and", "or"].include? step[:logic]
          circle_class = "gem-c-step-nav__circle--number"
          circle_class = "gem-c-step-nav__circle--logic" if logic
        %>
        <li class="gem-c-step-nav__step js-step
          <%= "gem-c-step-nav__step--optional" if step[:optional] %>
          <%= "gem-c-step-nav__step--active" if step_is_active %>"
          <% if step_is_active %>aria-current="step"<% end %>
          <%= "data-show" if step_count == show_step %>
          id="<%= id %>"
          data-track-count="stepNavSection"
        >
          <div class="gem-c-step-nav__header js-toggle-panel" data-position="<%= "#{step_index + 1}" %>">
            <%= content_tag("h#{heading_level}", class: 'gem-c-step-nav__title') do %>
              <div class="gem-c-step-nav__circle <%= circle_class %>">
                <span class="gem-c-step-nav__circle-inner">
                  <span class="gem-c-step-nav__circle-background">
                    <% if logic %>
                      <%= logic %>
                    <% else %>
                      <%
                        step_number += 1
                      %>
                      <span class="visuallyhidden">Step</span> <%= step_number %>
                    <% end %>
                  </span>
                </span>
              </div>

              <span class="js-step-title">
                <%= step[:title] %>
              </span>
            <% end %>
          </div>

          <div class="gem-c-step-nav__panel js-panel" id="step-panel-<%= id %>-<%= step_index + 1 %>">
            <%
              in_substep = false
              options[:step_index] = step_index
              options[:link_index] = 0
            %>
            <% step[:contents].each do |element| %>
              <%= StepNavHelper.new.render_step_nav_element(element, options) %>
              <%
                if element[:type] == 'list'
                  options[:link_index] += element[:contents].length
                end
              %>

              <% if element[:type] == 'substep' %>
                <% if in_substep %>
                  </div>
                  <% in_substep = false %>
                <% end %>
                <div class="gem-c-step-nav__substep <% if element[:optional] %>gem-c-step-nav__substep--optional<% end %>">
                <% in_substep = true %>
              <% end %>
            <% end %>

            <% if in_substep %>
              </div>
            <% end %>

            <% if step_nav_url && step[:show_help_link] %>
              <div class="gem-c-step-nav__help">
                <a href="<%= step_nav_url %>#<%= id %>" class="gem-c-step-nav__help-link js-link" data-position="get-help"><%= step_nav_link_text %></a>
              </div>
            <% end %>
          </div>

        </li>
      <% end %>
    </ol>
  </div>
<% end %>
