<%
  brand ||= false
  brand_helper = GovukPublishingComponents::AppHelpers::BrandHelper.new(brand)
  sl_helper = GovukPublishingComponents::Presenters::SubscriptionLinksHelper.new(local_assigns)
  shared_helper = GovukPublishingComponents::Presenters::SharedHelper.new(local_assigns)

  local_assigns[:margin_bottom] ||= 0
  local_assigns[:margin_bottom] = 0 if local_assigns[:margin_bottom] > 9

  css_classes = %w( gem-c-subscription-links )
  css_classes << (shared_helper.get_margin_bottom) unless local_assigns[:margin_bottom] == 0
  css_classes << brand_helper.brand_class
  data = {"module": "gem-toggle"} if sl_helper.feed_link_box_value
%>
<% if sl_helper.component_data_is_valid? %>
  <%= tag.section class: css_classes, data: data do %>
    <h2 class="gem-c-subscription-links__hidden-header visuallyhidden"><%= t("govuk_component.subscription_links.subscriptions", default: "Subscriptions") %></h2>
    <ul
      class="gem-c-subscription-links__list<%= ' gem-c-subscription-links__list--small' if local_assigns[:small_form] == true %>"
      <%= "data-module=track-click" if sl_helper.tracking_is_present? %>
    >
      <% if sl_helper.email_signup_link.present? %>
        <li class="gem-c-subscription-links__list-item">
          <%= link_to sl_helper.email_signup_link_text, sl_helper.email_signup_link,
            class: "gem-c-subscription-links__link gem-c-subscription-links__link--email-alerts #{brand_helper.color_class}",
            data: sl_helper.email_signup_link_data_attributes
          %>
        </li>
      <% end %>

      <% if sl_helper.feed_link_box_value || sl_helper.feed_link %>
        <li class="gem-c-subscription-links__list-item">
          <%= link_to sl_helper.feed_link_text, sl_helper.feed_link,
            class: "gem-c-subscription-links__link gem-c-subscription-links__link--feed #{brand_helper.color_class}",
            data: sl_helper.feed_link_data_attributes
          %>
        </li>
      <% end %>
    </ul>

    <% if sl_helper.feed_link_box_value %>
      <div class="gem-c-subscription-links__feed-box js-hidden" id="<%= sl_helper.feed_box_id %>">
        <p class="gem-c-subscription-links__feed-hidden-description visuallyhidden"><%= sl_helper.feed_link_text %></p>
        <%= render "govuk_publishing_components/components/input", {
          label: {
            text: "Copy and paste this URL into your feed reader"
          },
          name: "feed-reader-box",
          value: feed_link_box_value
        } %>
      </div>
    <% end %>
  <% end %>
<% end %>
