<%
  caption ||= nil
  head ||= []
  rows ||= []
  first_cell_is_header ||= false
  caption_classes ||= nil
  sortable ||= false
  filterable ||= false
  label ||= t("components.table.filter_label")
  margin_bottom ||= nil

  table_id = "table-id-#{SecureRandom.hex(4)}"
  filter_count_id = "filter-count-id-#{SecureRandom.hex(4)}"
%>

<% @table = capture do %>
  <%= GovukPublishingComponents::AppHelpers::TableHelper.helper(self, caption, {
      sortable:,
      filterable:,
      caption_classes:,
      table_id:,
      margin_bottom:,
    }) do |t| %>

    <% if head.any? %>
      <%= t.head do %>
        <% head.each_with_index do |item, cellindex| %>
          <%= t.header item[:text], {
            format: item[:format],
            href: item[:href],
            data_attributes: item[:data_attributes],
            sort_direction: item[:sort_direction],
            width: item[:width],
          } %>
        <% end %>
      <% end %>
    <% end %>

    <%= t.body do %>
      <% rows.each_with_index do |row, rowindex| %>
        <%= t.row do %>
          <% row.each_with_index do |cell, cellindex| %>
            <% if cellindex == 0 && first_cell_is_header %>
              <%= t.header cell[:text], {
                scope: "row",
                format: cell[:format],
              } %>
            <% else %>
              <%= t.cell cell[:text], {
                format: cell[:format],
              } %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<% if filterable %>
  <div data-module="table">
    <div class="js-gem-c-table__filter govuk-!-display-none govuk-!-display-none-print">
      <%= render "govuk_publishing_components/components/input", {
        label: {
          text: label,
        },
        name: "filter",
        controls: table_id,
        aria_described_by: filter_count_id,
      } %>

      <p id="<%= filter_count_id %>" aria-live="polite" class="js-filter-count govuk-visually-hidden" data-count-text="<%= t("components.table.filter_count") %>"></p>
    </div>

    <%= @table %>

    <p class="govuk-body govuk-!-display-none js-gem-c-table__message"><%= t("components.table.filter_message") %></p>
  </div>
<% else %>
  <%= @table %>
<% end %>
