<%
  add_gem_component_stylesheet("tabs")

  tabs ||= []
  panel_border ||= true unless panel_border == false
  panel_css_classes = %w(govuk-tabs__panel)
  panel_css_classes << "gem-c-tabs__panel--no-border" if panel_border == false
  panel_css_classes = panel_css_classes.join(" ")
%>
<% if tabs.count > 1 %>
  <div class="govuk-tabs gem-c-tabs" data-module="govuk-tabs">
    <h2 class="govuk-tabs__title">
      <%= t("components.tabs.contents") %>
    </h2>
    <ul class="govuk-tabs__list">
      <% tabs.each do |tab| %>
      <li class="govuk-tabs__list-item">
        <%= link_to(tab[:label],
                    "##{tab[:id]}",
                    class: "govuk-tabs__tab",
                    data: tab[:tab_data_attributes]) %>
      </li>
      <% end %>
    </ul>
    <% tabs.each do |tab| %>
      <section class="<%= panel_css_classes %>" id="<%= tab[:id] %>">
        <% if tab[:title] %>
          <h2 class="govuk-heading-l"><%= tab[:title] %></h2>
        <% end %>
        <%= tab[:content] %>
      </section>
    <% end %>
  </div>
<% end %>
<% if tabs.count == 1 %>
    <section id="<%= tabs[0][:id] %>">
      <% if tabs[0][:title] %>
        <h2 class="govuk-heading-l"><%= tabs[0][:title] %></h2>
      <% end %>
      <%= tabs[0][:content] %>
    </section>
<% end %>
