<%
  add_gem_component_stylesheet("translation-nav")

  translation_helper = GovukPublishingComponents::Presenters::TranslationNavHelper.new(local_assigns)
%>
<% if translation_helper.has_translations? %>
  <nav role="navigation"
    class="gem-c-translation-nav govuk-!-display-none-print <%= translation_helper.classes %>"
    aria-label="<%= t("common.translations") %>"
  >
    <ul class="gem-c-translation-nav__list">
      <% translation_helper.translations.each.with_index do |translation, i| %>
        <li class="gem-c-translation-nav__list-item">
          <% if translation[:active] %>
            <span lang="<%= translation[:locale] %>"><%= translation[:text] %></span>
          <% else %>
            <%= link_to translation[:text], translation[:base_path],
              hreflang: translation[:locale],
              lang: translation[:locale],
              rel: "alternate",
              class: "govuk-link gem-c-translation-nav__link",
              data: translation[:data_attributes]
            %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </nav>
<% end %>
