<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header sticky-table-header">Component (<%= components[:total_count] %>)</th>
      <th scope="col" class="govuk-table__header sticky-table-header">CSS (<%= components[:css_count] %>)</th>
      <th scope="col" class="govuk-table__header sticky-table-header">Print styles (<%= components[:print_css_count] %>)</th>
      <th scope="col" class="govuk-table__header sticky-table-header">JS (<%= components[:javascript_count] %>)</th>
      <th scope="col" class="govuk-table__header sticky-table-header">Test (<%= components[:test_count] %>)</th>
      <th scope="col" class="govuk-table__header sticky-table-header">JS test (<%= components[:javascript_test_count] %>)</th>
      <th scope="col" class="govuk-table__header sticky-table-header">Helper (<%= components[:helper_count] %>)</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <% components[:details].each do |component| %>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">
          <a href="<%= component[:link] %>" class="govuk-link"><%= component[:name] %></a>
        </th>
        <td class="govuk-table__cell">
          <% if component[:stylesheet] %>
            <strong class="govuk-tag govuk-tag--green">
              <a href="<%= component[:stylesheet] %>" class="govuk-link">Yes</a>
            </strong>
          <% end %>
        </td>
        <td class="govuk-table__cell">
          <% if component[:print_stylesheet] %>
            <strong class="govuk-tag govuk-tag--green">
              <a href="<%= component[:print_stylesheet] %>" class="govuk-link">Yes</a>
            </strong>
          <% end %>
        </td>
        <td class="govuk-table__cell">
          <% if component[:javascript] %>
            <strong class="govuk-tag govuk-tag--green">
              <a href="<%= component[:javascript] %>" class="govuk-link">Yes</a>
            </strong>
          <% end %>
        </td>
        <td class="govuk-table__cell">
          <% if component[:tests] %>
            <strong class="govuk-tag govuk-tag--green">
              <a href="<%= component[:tests] %>" class="govuk-link">Yes</a>
            </strong>
          <% end %>
        </td>
        <td class="govuk-table__cell">
          <% if component[:js_tests] %>
            <strong class="govuk-tag govuk-tag--green">
              <a href="<%= component[:js_tests] %>" class="govuk-link">Yes</a>
            </strong>
          <% end %>
        </td>
        <td class="govuk-table__cell">
          <% if component[:helper] %>
            <strong class="govuk-tag govuk-tag--green">
              <a href="<%= component[:helper] %>" class="govuk-link">Yes</a>
            </strong>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
