<% if @other_applications %>
  <%= render "govuk_publishing_components/components/heading", {
    text: "Components",
    font_size: "l",
    margin_bottom: 6,
  } %>
<% end %>

<% if @components.any? %>
  <% component_items = [] %>

  <% component_files = capture do %>
    <%= render partial: "component_contents", locals: { components: @components[:component_listing] } %>
  <% end %>

  <%
    component_items << {
      heading: {
        text: "Component files",
      },
      summary: {
        text: "Lists what files each component has",
      },
      content: {
        html: component_files
      },
    }
  %>

  <% components_within_components = capture do %>
    <dl class="govuk-summary-list">
      <% @components[:components_containing_components].each do |component| %>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <a href="<%= component[:link] %>" class="govuk-link"><%= component[:component] %></a>
          </dt>
          <dd class="govuk-summary-list__value">
            <%= component[:sub_components].join(', ') %>
          </dd>
        </div>
      <% end %>
    </dl>
  <% end %>

  <%
    component_items << {
      heading: {
        text: "Components containing other components",
      },
      summary: {
        text: "Shows which components contain other components",
      },
      content: {
        html: components_within_components
      },
    }
  %>

  <% if @other_applications %>
    <% components_by_application = capture do %>
      <% if @components[:components_by_application].any? %>
        <dl class="govuk-summary-list">
          <% @components[:components_by_application].each do |component| %>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                <%= component[:component] %> (<%= component[:count] %>)
              </dt>
              <dd class="govuk-summary-list__value">
                <%= component[:list] %>
              </dd>
            </div>
          <% end %>
        </dl>
      <% end %>
    <% end %>

    <%
      component_items << {
        heading: {
          text: "Components by application",
        },
        summary: {
          text: "Shows which applications use each component",
        },
        content: {
          html: components_by_application
        },
      }
    %>
  <% end %>

  <%= render "govuk_publishing_components/components/accordion", {
    items: component_items
  } %>
<% else %>
  <p class="govuk-body">No components found.</p>
<% end %>
