<%= render "govuk_publishing_components/components/heading", {
  text: "Components",
  font_size: "l",
  margin_bottom: 6,
} %>

<% if @components.any? %>
  <% component_files = capture do %>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header sticky-table-header">Component</th>
          <th scope="col" class="govuk-table__header sticky-table-header">Stylesheet</th>
          <th scope="col" class="govuk-table__header sticky-table-header">Print stylesheet</th>
          <th scope="col" class="govuk-table__header sticky-table-header">JS</th>
          <th scope="col" class="govuk-table__header sticky-table-header">Test</th>
          <th scope="col" class="govuk-table__header sticky-table-header">JS test</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <% @components[:component_listing].each do |component| %>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
              <a href="<%= component[:link] %>" class="govuk-link"><%= component[:name] %></a>
            </th>
            <td class="govuk-table__cell">
              <% if component[:stylesheet] %>
                <strong class="govuk-tag govuk-tag--green">Yes</strong>
              <% end %>
            </td>
            <td class="govuk-table__cell">
              <% if component[:print_stylesheet] %>
                <strong class="govuk-tag govuk-tag--green">Yes</strong>
              <% end %>
            </td>
            <td class="govuk-table__cell">
              <% if component[:javascript] %>
                <strong class="govuk-tag govuk-tag--green">Yes</strong>
              <% end %>
            </td>
            <td class="govuk-table__cell">
              <% if component[:tests] %>
                <strong class="govuk-tag govuk-tag--green">Yes</strong>
              <% end %>
            </td>
            <td class="govuk-table__cell">
              <% if component[:js_tests] %>
                <strong class="govuk-tag govuk-tag--green">Yes</strong>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>

  <% components_within_components = capture do %>
    <dl class="govuk-summary-list">
      <% @components[:components_containing_components].each do |component| %>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <a href="<%= component[:link] %>" class="govuk-link"><%= component[:component] %></a>
          </dt>
          <dd class="govuk-summary-list__value">
            <%= component[:sub_components].join(', ') %>
          </dd>
        </div>
      <% end %>
    </dl>
  <% end %>

  <% components_by_application = capture do %>
    <% if @components[:components_by_application].any? %>
      <dl class="govuk-summary-list">
        <% @components[:components_by_application].each do |component| %>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              <%= component[:component] %> (<%= component[:count] %>)
            </dt>
            <dd class="govuk-summary-list__value">
              <%= component[:list] %>
            </dd>
          </div>
        <% end %>
      </dl>
    <% else %>
      <p class="govuk-body">Sorry, no applications found.</p>
    <% end %>
  <% end %>

  <%
    component_items = [
      {
        heading: {
          text: "Component files",
        },
        summary: {
          text: "Lists what files each component has",
        },
        content: {
          html: component_files
        },
      },
      {
        heading: {
          text: "Components containing other components",
        },
        summary: {
          text: "Shows which components contain other components",
        },
        content: {
          html: components_within_components
        },
      },
      {
        heading: {
          text: "Components by application",
        },
        summary: {
          text: "Shows which applications use each component",
        },
        content: {
          html: components_by_application
        },
      },
    ]
  %>
  <%= render "govuk_publishing_components/components/accordion", {
    items: component_items
  } %>
<% else %>
  <p class="govuk-body">No components found.</p>
<% end %>
