<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header sticky-table-header">Component</th>
      <th scope="col" class="govuk-table__header sticky-table-header">Template (<%= passed_components[:component_numbers][:template] %>)</th>
      <th scope="col" class="govuk-table__header sticky-table-header">CSS (<%= passed_components[:component_numbers][:stylesheet] %>)</th>
      <th scope="col" class="govuk-table__header sticky-table-header">Print styles (<%= passed_components[:component_numbers][:print_stylesheet] %>)</th>
      <th scope="col" class="govuk-table__header sticky-table-header">JS (<%= passed_components[:component_numbers][:javascript] %>)</th>
      <th scope="col" class="govuk-table__header sticky-table-header">Test (<%= passed_components[:component_numbers][:test] %>)</th>
      <th scope="col" class="govuk-table__header sticky-table-header">JS test (<%= passed_components[:component_numbers][:javascript_test] %>)</th>
      <th scope="col" class="govuk-table__header sticky-table-header">Helper (<%= passed_components[:component_numbers][:helper] %>)</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <% passed_components[:component_file_details].each do |component| %>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">
          <% if component[:link] %>
            <a href="<%= component[:link] %>" class="govuk-link">
              <%= component[:name] %>
            </a>
          <% else %>
            <%= component[:name] %>
          <% end %>
        </th>
        <td class="govuk-table__cell">
          <% if component[:template_exists] %>
            <strong class="govuk-tag govuk-tag--green">
              <a href="<%= component[:template_link] %>" class="govuk-link">
                <%= component[:template_lines] %>
                <span class="govuk-visually-hidden">lines of code in <%= component[:name] %> template</span>
              </a>
            </strong>
          <% end %>
        </td>
        <td class="govuk-table__cell">
          <% if component[:stylesheet_exists] %>
            <strong class="govuk-tag govuk-tag--green">
              <a href="<%= component[:stylesheet_link] %>" class="govuk-link">
                <%= component[:stylesheet_lines] %>
                <span class="govuk-visually-hidden">lines of code in <%= component[:name] %> stylesheet</span>
              </a>
            </strong>
          <% end %>
        </td>
        <td class="govuk-table__cell">
          <% if component[:print_stylesheet_exists] %>
            <strong class="govuk-tag govuk-tag--green">Yes</strong>
          <% end %>
        </td>
        <td class="govuk-table__cell">
          <% if component[:javascript_exists] %>
            <strong class="govuk-tag govuk-tag--green">
              <a href="<%= component[:javascript_link] %>" class="govuk-link">
                <%= component[:javascript_lines] %>
                <span class="govuk-visually-hidden">lines of code in <%= component[:name] %> javascript</span>
              </a>
            </strong>
          <% end %>
        </td>
        <td class="govuk-table__cell">
          <% if component[:test_exists] %>
            <strong class="govuk-tag govuk-tag--green">
              <a href="<%= component[:test_link] %>" class="govuk-link">
                <%= component[:test_lines] %>
                <span class="govuk-visually-hidden">lines of code in <%= component[:name] %> test</span>
              </a>
            </strong>
          <% end %>
        </td>
        <td class="govuk-table__cell">
          <% if component[:javascript_test_exists] %>
            <strong class="govuk-tag govuk-tag--green">
              <a href="<%= component[:javascript_test_link] %>" class="govuk-link">
                <%= component[:javascript_test_lines] %>
                <span class="govuk-visually-hidden">lines of code in <%= component[:name] %> javascript test</span>
              </a>
            </strong>
          <% end %>
        </td>
        <td class="govuk-table__cell">
          <% if component[:helper_exists] %>
            <strong class="govuk-tag govuk-tag--green">
              <a href="<%= component[:helper_link] %>" class="govuk-link">
                <%= component[:helper_lines] %>
                <span class="govuk-visually-hidden">lines of code in <%= component[:name] %> helper</span>
              </a>
            </strong>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
