<% content_for :title, "Component audit" %>

<%= render 'govuk_publishing_components/components/title', title: "Components audit", margin_top: 0; %>

<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
          Component files
        </span>
      </h2>
      <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-1">
        Lists what files each component has
      </div>
    </div>
    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Component</th>
            <th scope="col" class="govuk-table__header">Stylesheet</th>
            <th scope="col" class="govuk-table__header">Print stylesheet</th>
            <th scope="col" class="govuk-table__header">JS</th>
            <th scope="col" class="govuk-table__header">Test</th>
            <th scope="col" class="govuk-table__header">JS test</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <% @data[:component_listing].each do |component| %>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">
                <a href="<%= component[:link] %>" class="govuk-link"><%= component[:name] %></a>
              </th>
              <td class="govuk-table__cell">
                <% if component[:stylesheet] %>
                  <strong class="govuk-tag govuk-tag--green">Yes</strong>
                <% end %>
              </td>
              <td class="govuk-table__cell">
                <% if component[:print_stylesheet] %>
                  <strong class="govuk-tag govuk-tag--green">Yes</strong>
                <% end %>
              </td>
              <td class="govuk-table__cell">
                <% if component[:javascript] %>
                  <strong class="govuk-tag govuk-tag--green">Yes</strong>
                <% end %>
              </td>
              <td class="govuk-table__cell">
                <% if component[:tests] %>
                  <strong class="govuk-tag govuk-tag--green">Yes</strong>
                <% end %>
              </td>
              <td class="govuk-table__cell">
                <% if component[:js_tests] %>
                  <strong class="govuk-tag govuk-tag--green">Yes</strong>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
          Components containing components
        </span>
      </h2>
      <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-2">
        Shows which components contain other components
      </div>
    </div>
    <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
      <dl class="govuk-summary-list">
        <% @data[:components_containing_components].each do |component| %>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              <a href="<%= component[:link] %>" class="govuk-link"><%= component[:component] %></a>
            </dt>
            <dd class="govuk-summary-list__value">
              <%= component[:sub_components].join(', ') %>
            </dd>
          </div>
        <% end %>
      </dl>
    </div>
  </div>
<!--
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
          Components by application
        </span>
      </h2>
      <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-2">
        Shows which applications use each component
      </div>
    </div>
    <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
      <dl class="govuk-summary-list">
        fixme
      </dl>
    </div>
  </div>
-->  
</div>
