<%
  environment = %w[development production staging integration example].sample
  product_name = "Publishing"
%>

<%= render 'govuk_publishing_components/components/layout_for_admin', {
  environment: environment,
  browser_title: "Example admin page"
} do %>
  <%= render "govuk_publishing_components/components/skip_link" %>
  <%= render "govuk_publishing_components/components/layout_header", {
    environment: environment,
    product_name: product_name,
    navigation_items: [
      {text: "John Doe", href: "#profile"},
      {text: "Log out", href: "#logout"}
    ]
  }%>
  <div class="govuk-width-container">
    <%# breadcrumbs, backlink, phasebanner goes here %>
    <main class="govuk-main-wrapper " id="main-content">
      <%= yield %>
    </main>
  </div>
  <%= render "govuk_publishing_components/components/layout_footer" %>
<% end %>

<%
  # this is for testing the auditing code
  # <div class="gem-c-something"></div>
%>
