<% environment = %w[development production staging integration example].sample %>

<% content_for :head do %>
  <%= stylesheet_link_tag "application" %>
<% end %>
<%= render 'govuk_publishing_components/components/layout_for_admin', {
  environment: environment,
  browser_title: "Example admin page"
} do %>

  <%= render "govuk_publishing_components/components/skip_link" %>
  <%= render "govuk_publishing_components/components/layout_header", {
    environment: environment,
    navigation_items: [
      {text: "John Doe", href: "#profile"},
      {text: "Log out", href: "#logout"}
    ]
  }%>

  <div class="govuk-width-container">
    <!-- breadcrumbs, backlink, phasebanner goes here-->
    <main class="govuk-main-wrapper " id="main-content" role="main">
      <%= yield %>
    </main>
  </div>
  <%= render "govuk_publishing_components/components/layout_footer" %>

  <%= javascript_include_tag "application" %>
<% end %>
