<%= render "govuk_publishing_components/components/title", title: "Hello GOV.UK" %>

<%= render "govuk_publishing_components/components/lead_paragraph", {
  text: "UK Visas and Immigration is making changes to the Immigration Rules affecting various categories."
} %>

<p>Some paragraph.</p>

<%= render "govuk_publishing_components/components/input", {
  label: {
    text: "What is your name?"
  },
  name: "name"
} %>

<%= render "govuk_publishing_components/components/radio", {
  name: "radio-group",
  items: [
    {
      value: "government-gateway",
      text: "Yes my name"
    },
    {
      value: "govuk-verify",
      text: "That's my name"
    }
  ]
} %>
<br/>
<br/>
<br/>

<%= render "govuk_publishing_components/components/heading", {
  text: "Here are things",
  margin_bottom: 4
} %>

<%= render "govuk_publishing_components/components/document_list", {
  items: [
    {
      link: {
        text: "Alternative provision",
        path: "/government/publications/alternative-provision"
      },
      metadata: {
        public_updated_at: Date.parse("2016-06-27 11:29:44 +0100"),
        document_type: "Statutory guidance"
      }
    },
    {
      link: {
        text: "Behaviour and discipline in schools: guide for governing bodies",
        path: "/government/publications/behaviour-and-discipline-in-schools-guidance-for-governing-bodies"
      },
      metadata: {
        public_updated_at: Date.parse("2016-06-27 11:29:44 +0100"),
        document_type: "Statutory guidance"
      }
    },
    {
      link: {
        text: "Children missing education",
        path: "/government/publications/children-missing-education"
      },
      metadata: {
        public_updated_at: Date.parse("2016-06-27 11:29:44 +0100"),
        document_type: "Statutory guidance"
      }
    }
  ]
} %>
