<%= render "govuk_publishing_components/components/heading", {
    text: GovukPublishingComponents::Config.component_guide_title,
    heading_level: 1,
    font_size: "xl",
    margin_bottom: 8,
  } %>

<div class="component-markdown govuk-!-margin-bottom-8">
  <p>Components are packages of template, style, behaviour and documentation that live in your application.</p>
  <p>See the <a href="https://github.com/alphagov/govuk_publishing_components">govuk_publishing_components gem</a> for further details, or <a href="https://docs.publishing.service.gov.uk/manual/components.html#component-guides">a list of all component guides</a>.</p>
  <ul>
    <li>Read about how to <a href="https://github.com/alphagov/govuk_publishing_components/blob/main/docs/publishing-to-rubygems.md">release a new version of the gem</a></li>
    <li><a href="/component-guide/audit">View component audits</a></li>
    <li><a href="/component-guide/applications">View application information</a></li>
  </ul>
</div>

<div data-module="filter-list" data-filter-label="Search components">
  <% if !ENV["MAIN_COMPONENT_GUIDE"] %>
    <%= render partial: "component_list", locals: {
      heading: "Components in this application",
      size: @component_docs.length,
      components: @component_docs,
    } %>

    <% details = capture do %>
      <%= render "govuk_publishing_components/components/details", {
        title: "Suggested imports for this application",
        margin_bottom: 6,
      } do %>
        <%= render "govuk_publishing_components/components/textarea", {
          label: {
            text: "Add this to your application's main scss file, before your other local imports.",
          },
          name: "main-sass",
          value: @components_in_use_sass,
        } %>
        <%= render "govuk_publishing_components/components/textarea", {
          label: {
            text: "Add this to your application's main js file, before your other local imports.",
          },
          name: "main-js",
          value: @components_in_use_js,
          margin_bottom: 0,
        } %>
      <% end %>
    <% end %>

    <%= render partial: "component_list", locals: {
      heading: "Gem components used by this app",
      size: @used_components.length,
      components: @used_components,
      details: details,
    } %>

    <%= render partial: "component_list", locals: {
      heading: "Gem components not used by this app",
      size: @unused_components.length,
      components: @unused_components,
    } %>
  <% else %>
    <%= render partial: "component_list", locals: {
      size: @gem_component_docs.length,
      components: @gem_component_docs,
    } %>
  <% end %>

  <div class="component-markdown">
    <p class="govuk-body">If you cannot find a suitable component consider extending an existing component or <a href="https://github.com/alphagov/govuk_publishing_components/blob/main/docs/generate-a-new-component.md">creating a new one</a>.</p>
  </div>
</div>
