<%= render 'govuk_publishing_components/components/title', title: GovukPublishingComponents::Config.component_guide_title %>

<div class="gem-c-govspeak">
  <p>Components are packages of template, style, behaviour and documentation that live in your application.</p>
  <p>A component must:</p>
  <ul>
    <li><a href="https://github.com/alphagov/govuk_publishing_components/blob/master/docs/component_principles.md">meet the component principles</a></li>
    <li><a href="https://github.com/alphagov/govuk_publishing_components/blob/master/docs/component_conventions.md">follow component conventions</a></li>
  </ul>
  <p>See the <a href="https://github.com/alphagov/govuk_publishing_components">govuk_publishing_components gem</a> for further details, or <a href="https://docs.publishing.service.gov.uk/manual/components.html#component-guides">a list of all component guides</a>.</p>
</div>

<h2 class="component-doc-h2">Components in this application</h2>

<ul class="component-list">
  <% @component_docs.each do |component_doc| %>
    <li>
      <%= link_to component_doc.name, component_doc_path(component_doc.id), class: "govuk-link" %>
      <p>
        <%= component_doc.description %>
      </p>
    </li>
  <% end %>
</ul>

<h2 class="component-doc-h2">Components in the gem</h2>

<ul class="component-list">
  <% @gem_component_docs.each do |component_doc| %>
    <li>
      <%= link_to component_doc.name, component_doc_path(component_doc.id), class: "govuk-link" %>
      <p>
        <%= component_doc.description %>
      </p>
    </li>
  <% end %>
</ul>
