<% content_for :application_stylesheet do %>
  <% if @render_component_first %>
    <% add_gem_component_stylesheet(@component_doc.id.gsub("_", "-")) %>
  <% end %>
  <% @all_gem_component_docs.each do |component| %>
    <% add_gem_component_stylesheet(component.id.gsub("_", "-")) %>
  <% end %>

  <% if @component_doc.source == "application" && application_stylesheet_in_use? %>
    <%= render "application_stylesheet" %>
  <% end %>
<% end %>
<% @component_examples.each do |example| %>
  <div class="component-guide-preview-page">
    <% if @component_examples.length > 1 %>
      <h2 class="preview-title"><a href="<%= component_example_path(@component_doc.id, example.id) %>"><%= example.name %></a></h2>
    <% end %>
    <div data-module="test-a11y" data-excluded-rules="<%= @component_doc.accessibility_excluded_rules %>">
      <%= render "govuk_publishing_components/component_guide/component_doc/component", component_doc: @component_doc, example: example, preview_page: true %>
    </div>
  </div>
<% end %>
