<% content_for :title, "#{@component_doc.name} component" %>
<%= render 'govuk_component/title', title: @component_doc.name, context: 'Component' %>

<div class="component-show">
  <div class="grid-row">
    <div class="column-two-thirds">
      <p class="component-description">
        <%= @component_doc.description %>
      </p>
      <% if @component_doc.body.present? %>
        <div class="component-body">
          <%= render 'govuk_component/govspeak', content: @component_doc.html_body %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="component-doc">
    <h2 class="component-doc-h2">How to call this component</h2>
    <%= render "govuk_publishing_components/component_guide/component_doc/call", component_doc: @component_doc, example: @component_doc.example %>

    <h2 class="component-doc-h2">How it looks</h2>
  </div>

  <%= render "govuk_publishing_components/component_guide/component_doc/preview", component_doc: @component_doc, example: @component_doc.example %>

  <% if @component_doc.accessibility_criteria.present? %>
    <div class="grid-row component-accessibility-criteria">
      <div class="column-two-thirds">
        <h2 class="component-doc-h2">Accessibility acceptance criteria</h2>
        <%= render 'govuk_component/govspeak', content: @component_doc.html_accessibility_criteria %>
      </div>
    </div>
  <% end %>

  <% if @component_doc.other_examples.any? %>
    <div class="examples">
      <h2 class="component-doc-h2">Other examples
        <small>(<a href="<%= component_preview_all_path(@component_doc.id) %>">preview all</a>)</small>
      </h2>
      <% @component_doc.other_examples.each do |example| %>
        <div class="component-example">
          <h3 class="example-title">
            <a href="<%= component_example_path(@component_doc.id, example.id) %>"><%= example.name %></a>
            <small>(<a href="<%= component_preview_path(@component_doc.id, example.id) %>">preview</a>)</small>
          </h3>
          <%= render "govuk_publishing_components/component_guide/component_doc/call", component_doc: @component_doc, example: example %>
          <%= render "govuk_publishing_components/component_guide/component_doc/preview", component_doc: @component_doc, example: example %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
