<% content_for :title, "#{@component_doc.name} component" %>
<% content_for :application_stylesheet do %>
  <% if @component_doc.source == "application" %>
    <%= render 'application_stylesheet' %>
  <% end %>
<% end %>

<%= render 'govuk_publishing_components/components/title', title: @component_doc.name, context: "Component", margin_top: 0; %>

<div class="component-show">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <% if !@component_doc.accessibility_criteria.present? %>
        <div class="component-violation">
          <h2 class="component-violation__title">This component is not valid</h2>
          <a class="component-violation__link" href="https://github.com/alphagov/govuk_publishing_components/blob/master/docs/accessibility_acceptance_criteria.md">Please define accessibility acceptance criteria for this component.</a>
        </div>
      <% end %>
      <%= render 'govuk_publishing_components/components/lead_paragraph', text: @component_doc.description %>
      <% if @component_doc.body.present? %>
        <div class="component-body">
          <div class="component-markdown">
            <%= raw(@component_doc.html_body) %>
          </div>
        </div>
      <% end %>
      <p class="govuk-body"><%= link_to "Search for usage of this component on GitHub", @component_doc.github_search_url, class: "govuk-link" %>.</p>
    </div>
  </div>

  <h2 class="component-doc-h2">
    <a href="<%= component_example_path(@component_doc.id, "default") %>" class="govuk-link">How it looks</a>
    <small>(<a href="<%= component_preview_path(@component_doc.id, "default") %>" class="govuk-link">preview</a>)</small>
    <small>(<a href="<%= component_preview_all_path(@component_doc.id) %>" class="govuk-link">preview all</a>)</small>
  </h2>
  <%= render "govuk_publishing_components/component_guide/component_doc/preview", component_doc: @component_doc, example: @component_doc.example %>

  <h2 class="component-doc-h2">How to call this component</h2>
  <%= render "govuk_publishing_components/component_guide/component_doc/call", component_doc: @component_doc, example: @component_doc.example %>

  <% if @component_doc.govuk_frontend_components.any? %>
    <h2 class="component-doc-h2">GOV.UK Design System</h2>
    <div class="component-markdown">
      <p>This component incorporates components from the <%= link_to "GOV.UK Design System", "https://design-system.service.gov.uk" %>:</p>

      <ul>
      <% @component_doc.govuk_frontend_components.each do |component| %>
        <li><%= link_to component.humanize, "https://design-system.service.gov.uk/components/#{component}" %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if @component_doc.accessibility_criteria.present? %>
    <div class="govuk-grid-row component-accessibility-criteria">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="component-doc-h2">Accessibility acceptance criteria</h2>
        <div class="component-markdown">
          <%= raw(@component_doc.html_accessibility_criteria) %>
        </div>
      </div>
    </div>
  <% end %>

  <% if @component_doc.other_examples.any? %>
    <div class="examples">
      <h2 class="component-doc-h2">Other examples</h2>
      <% @component_doc.other_examples.each do |example| %>
        <div class="component-example">
          <h3 class="example-title">
            <a href="<%= component_example_path(@component_doc.id, example.id) %>" class="govuk-link"><%= example.name %></a>
            <small>(<a href="<%= component_preview_path(@component_doc.id, example.id) %>" class="govuk-link">preview</a>)</small>
          </h3>
          <div class="component-markdown">
            <%= raw(example.html_description) %>
          </div>
          <%= render "govuk_publishing_components/component_guide/component_doc/preview", component_doc: @component_doc, example: example %>
          <%= render "govuk_publishing_components/component_guide/component_doc/call", component_doc: @component_doc, example: example %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
