<% content_for :title, "#{@component_doc.name} component" %>
<% content_for :application_stylesheet do %>
  <% if @component_doc.source == "application" && application_stylesheet_in_use? %>
    <%= render 'application_stylesheet' %>
  <% end %>
<% end %>

<%= render 'govuk_publishing_components/components/heading', {
    text: @component_doc.name,
    context: "Component",
    heading_level: 1,
    font_size: "xl",
    margin_bottom: 8
  }
%>

<div class="component-show">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <% if !@component_doc.accessibility_criteria.present? %>
        <div class="component-violation">
          <h2 class="component-violation__title">This component is not valid</h2>
          <a class="component-violation__link" href="https://github.com/alphagov/govuk_publishing_components/blob/main/docs/accessibility_acceptance_criteria.md">Please define accessibility acceptance criteria for this component.</a>
        </div>
      <% end %>
      <%= render 'govuk_publishing_components/components/lead_paragraph', text: @component_doc.description %>
      <% if @component_doc.body.present? %>
        <div class="component-body">
          <%= render "govuk_publishing_components/components/govspeak", {
            } do %>
            <%= raw(@component_doc.html_body) %>
          <% end %>
        </div>
      <% end %>
      <p class="govuk-body"><%= link_to "Search for usage of this component on GitHub", @component_doc.github_search_url, class: "govuk-link" %>.</p>
    </div>
  </div>

  <div class="component-doc__content-list">
    <%
      other_examples_links = []
      other_examples_links << {
        href: "#standard-options",
        text: "Standard options"
      } if @component_doc.uses_component_wrapper_helper?
      other_examples_links.concat(@component_doc.other_examples.map do | example |
        {
          href: "##{example.id}",
          text: example.name
        }
      end)
      content_items = [
        { href: "#how-it-looks", text: "How it looks" },
        { href: "#how-to-call-this-component", text: "How to call this component" },
        ({ href: "#govuk-design-system", text: "GOV.UK Design System" } if @component_doc.govuk_frontend_components.any?),
        ({ href: "#accessibility-acceptance-criteria", text: "Accessibility acceptance criteria" } if @component_doc.accessibility_criteria.present?),
        ({
          href: "#other-examples",
          text: "Other examples",
          items: other_examples_links
        } if @component_doc.other_examples.any? or @component_doc.uses_component_wrapper_helper?),
      ].compact
    %>
    <%= render "govuk_publishing_components/components/contents_list", {
      contents: content_items
    } %>
  </div>

  <h2 class="component-doc-h2" id="how-it-looks">
    <a href="<%= component_example_path(@component_doc.id, "default") %>" class="govuk-link">How it looks</a>
    <small>(<a href="<%= component_preview_path(@component_doc.id, "default") %>" class="govuk-link">preview</a>)</small>
    <small>(<a href="<%= component_preview_all_path(@component_doc.id) %>" class="govuk-link">preview all</a>)</small>
  </h2>
  <%= render "govuk_publishing_components/component_guide/component_doc/preview", component_doc: @component_doc, example: @component_doc.example %>

  <h2 class="component-doc-h2" id="how-to-call-this-component">How to call this component</h2>
  <%= render "govuk_publishing_components/component_guide/component_doc/call", component_doc: @component_doc, example: @component_doc.example %>

  <% if @component_doc.govuk_frontend_components.any? %>
    <h2 class="component-doc-h2" id="govuk-design-system">GOV.UK Design System</h2>
    <%= render "govuk_publishing_components/components/govspeak", {
      } do %>
      <p>This component incorporates components from the <%= link_to "GOV.UK Design System", "https://design-system.service.gov.uk" %>:</p>

      <ul>
      <% @component_doc.govuk_frontend_components.each do |component| %>
        <li><%= link_to component.humanize, "https://design-system.service.gov.uk/components/#{component}" %></li>
      <% end %>
      </ul>
    <% end %>
  <% end %>

  <% if @component_doc.accessibility_criteria.present? %>
    <div class="govuk-grid-row component-accessibility-criteria" id="accessibility-acceptance-criteria">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="component-doc-h2">Accessibility acceptance criteria</h2>
        <%= render "govuk_publishing_components/components/govspeak", {
          } do %>
          <%= raw(@component_doc.html_accessibility_criteria) %>
        <% end %>
      </div>
    </div>
  <% end %>

  <% if @component_doc.other_examples.any? or @component_doc.uses_component_wrapper_helper? %>
    <div class="examples">
      <h2 class="component-doc-h2" id="other-examples">Other examples</h2>

      <% if @component_doc.uses_component_wrapper_helper? %>
        <div class="component-example" id="standard-options">
          <h3 class="example-title">Standard options</h3>
          <%= render "govuk_publishing_components/components/govspeak", {
            } do %>
            <%= raw(@component_doc.html_component_wrapper_options) %>
          <% end %>
        </div>
      <% end %>

      <% @component_doc.other_examples.each do |example| %>
        <div class="component-example" id="<%= example.id %>">
          <h3 class="example-title">
            <a href="<%= component_example_path(@component_doc.id, example.id) %>" class="govuk-link"><%= example.name %></a>
            <small>(<a href="<%= component_preview_path(@component_doc.id, example.id) %>" class="govuk-link">preview</a>)</small>
          </h3>
          <%= render "govuk_publishing_components/components/govspeak", {
            } do %>
            <%= raw(example.html_description) %>
          <% end %>

          <% code_example = capture do %>
            <%= render "govuk_publishing_components/component_guide/component_doc/call", component_doc: @component_doc, example: example %>
          <% end %>
          <%= render "govuk_publishing_components/component_guide/component_doc/preview", component_doc: @component_doc, example: example %>
          <%= code_example %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
