<!DOCTYPE html>
<html>
<head>
  <title>
    <% if @preview %>
      <%= @component_doc.name %><% if @component_examples.length == 1 %>:
        <%= @component_examples.first.name %>
      <% end %>
      preview -
    <% end %>
    <%= yield :title %><% if content_for(:title) %> - <% end %><%= GovukPublishingComponents::Config.component_guide_title %>
  </title>
  <%= stylesheet_link_tag "component_guide/application", media: "screen" %>
  <%= stylesheet_link_tag "#{GovukPublishingComponents::Config.application_stylesheet}" %>

  <% if GovukPublishingComponents::Config.application_print_stylesheet %>
    <%= stylesheet_link_tag "#{GovukPublishingComponents::Config.application_print_stylesheet}", media: "print" %>
  <% end %>

  <% if @component_doc && @component_doc.part_of_admin_layout? %>
    <%= stylesheet_link_tag "govuk_publishing_components/admin_styles" %>
  <% end %>

  <%= javascript_include_tag "component_guide/application" %>
  <%= javascript_include_tag "#{GovukPublishingComponents::Config.application_javascript}" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= 'hide-header-and-footer' if @preview %>">
  <% unless @preview %>
    <div class="header-proposition">
      <div class="content">
        <nav id="proposition-menu" role="navigation">
          <%= link_to GovukPublishingComponents::Config.component_guide_title, component_guide_path, id: 'proposition-name' %>
        </nav>
      </div>
    </div>

    <main id="wrapper" class="govuk-component-guide-wrapper">
    <%= render 'govuk_publishing_components/components/breadcrumbs', breadcrumbs: @guide_breadcrumbs  %>
  <% else %>
    <main id="wrapper">
  <% end %>

      <%= yield %>
    </main>
</body>
</html>
