<% content_for :body do %>
  <% if @preview %>
    <main id="wrapper" class="govuk-width-container">
      <%= yield %>
    </main>
  <% else %>
    <%= render "govuk_publishing_components/components/layout_header", {
      environment: GovukPublishingComponents::AppHelpers::Environment.current_acceptance_environment,
      product_name: "#{GovukPublishingComponents::Config.component_guide_title} #{GovukPublishingComponents::VERSION}",
      href: component_guide_path
    } %>
    <div class="govuk-width-container app-width-container--wide">
      <% if @guide_breadcrumbs %>
        <%= render 'govuk_publishing_components/components/breadcrumbs', breadcrumbs: @guide_breadcrumbs  %>
      <% end %>
      <main id="wrapper" class="govuk-main-wrapper">
        <%= yield %>
      </main>
    </div>
    <%= render "govuk_publishing_components/components/layout_footer" %>
  <% end %>
<% end %>
<!DOCTYPE html>
<html lang="en" class="<%= "govuk-template" unless @preview %> govuk-template--rebranded">
  <head>
    <meta charset="utf-8">
    <title>
      <% if @preview %>
        <%= @component_doc.name %><% if @component_examples.length == 1 %>:
          <%= @component_examples.first.name %>
        <% end %>
        preview -
      <% end %>
      <%= yield :title %><% if content_for(:title) %> - <% end %><%= GovukPublishingComponents::Config.component_guide_title %>
    </title>
    <meta name="robots" content="noindex,nofollow,noimageindex">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= favicon_link_tag "govuk_publishing_components/favicon-production.png" %>

    <%= stylesheet_link_tag "component_guide/application", media: "all" %>
    <%= yield :application_stylesheet %>
    <%= render_component_stylesheets %>
    <%= yield :extra_headers %>
  </head>
  <body class="gem-c-layout-for-admin govuk-template__body <%= 'hide-header-and-footer' if @preview %>">
    <%= javascript_tag nonce: true do -%>
      document.body.className += ' js-enabled' + ('noModule' in HTMLScriptElement.prototype ? ' govuk-frontend-supported' : '');
    <% end -%>
    <%= yield :body %>

    <%= javascript_include_tag "component_guide/application" %>
    <%= javascript_include_tag "#{GovukPublishingComponents::Config.application_javascript}" %>
  </body>
</html>
