<!DOCTYPE html>
<html>
<head>
  <title>GOV.UK Component Guide</title>
  <%= stylesheet_link_tag    "govuk_publishing_components/application", media: "all" %>
  <%# Include application styles: TODO: Make configurable %>
  <%= stylesheet_link_tag "application" %>

  <%= javascript_include_tag "govuk_publishing_components/application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <main id="wrapper" class="govuk-component-guide-wrapper">
    <%= render 'govuk_component/breadcrumbs', breadcrumbs: @guide_breadcrumbs  %>
    <%= yield %>
  </main>
</body>
</html>
