<!DOCTYPE html>
<html>
<head>
  <title><%= @component_doc.name %><% if @component_fixture.length <= 1 %>:
      <%= @component_fixture.first.name %>
    <% end %>
    preview -
    <% if content_for(:title) %>
      -
    <% end %>
    <%= GovukPublishingComponents::Config.component_guide_title %>
  </title>
  <%= stylesheet_link_tag "govuk_publishing_components/application", media: "all" %>
  <%= stylesheet_link_tag "#{GovukPublishingComponents::Config.application_stylesheet}" %>
  <% if GovukPublishingComponents::Config.application_print_stylesheet %>
    <%= stylesheet_link_tag "#{GovukPublishingComponents::Config.application_print_stylesheet}", media: "print" %>
  <% end %>

  <%= javascript_include_tag "govuk_publishing_components/application" %>
  <%= javascript_include_tag "#{GovukPublishingComponents::Config.application_javascript}" %>

  <%= csrf_meta_tags %>
</head>

<body class="<%= 'hide-header-and-footer' unless params[:preview] == 'page' %>">

  <div id="wrapper">
      <%= yield %>
  </div>
</body>
</html>
