<%= tag.div(class: "govuk-width-container") do %>
  <%= tag.div(class: "gem-c-layout-for-public-account-feedback-footer") do %>
    <%= render "govuk_publishing_components/components/heading", {
      text: t("components.layout_for_public.account_layout.feedback.banners.title"),
      heading_level: 2,
      font_size: "m",
      margin_bottom: 4,
    } %>

    <p class="govuk-body govuk-!-margin-bottom-0">
      <%= t("components.layout_for_public.account_layout.feedback.banners.footer_intro") %>
      <a href="<%= GovukPersonalisation::Urls.feedback %>" class="govuk-link">
        <%= t("components.layout_for_public.account_layout.feedback.banners.footer_link") %>
      </a>
      <%= t("components.layout_for_public.account_layout.feedback.banners.footer_outro") %>
    </p>
  <% end %>
<% end %>
